/*
    Theme Name: Byrne-Systems
    Theme URI: http://www.byrne-systems.com
    Description: Web & Software Design & Development
    Author: Justin D Byrne
    Author URL: http://www.byrne-systems.com
    License: MIT License (MIT)
    License URL: https://github.com/justinbyrne001/canvasLab/blob/master/LICENSE.md
    Text Domain: Byrne-Systems
    Version: 0.1
*/

/* Web-fonts */
@font-face { font-family: 'courier';
    src: url('../fonts/courier-webfont.eot');
    src: url('../fonts/courier-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/courier-webfont.woff') format('woff'),
         url('../fonts/courier-webfont.ttf') format('truetype'),
         url('../fonts/courier-webfont.svg#courier_newregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-r7uf0m');
    src:url('../fonts/icomoon.eot?#iefix-r7uf0m') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-r7uf0m') format('woff'),
        url('../fonts/icomoon.ttf?-r7uf0m') format('truetype'),
        url('../fonts/icomoon.svg?-r7uf0m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'lobster';
    src: url('../fonts/lobster_1.3-webfont.eot');
    src: url('../fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.3-webfont.woff') format('woff'),
         url('../fonts/lobster_1.3-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'sketch';
    src: url('../fonts/fff_tusj-webfont.eot');
    src: url('../fonts/fff_tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fff_tusj-webfont.woff') format('woff'),
         url('../fonts/fff_tusj-webfont.ttf') format('truetype'),
         url('../fonts/fff_tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face { font-family: 'titillium';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { /* Set Border-Box */
    -webkit-box-sizing:border-box;                                    /* -webkit:Safari, Chrome */
     -khtml-box-sizing:border-box;                                    /* -khtml:Konqueror */
       -moz-box-sizing:border-box;                                    /* -moz:Mozilla */
        -ms-box-sizing:border-box;                                    /* -ms:Microsoft */
         -o-box-sizing:border-box;                                    /* -o:Opera */
            box-sizing:border-box;                                    /* CSS3 */
}

/* HTML ELEM */
body {
    background-color:#FFF;                                            /* Background-color */
    margin: 0;                                                        /* Margin */
    padding: 0;                                                       /* Padding */
}

p {
    font-family:'lobster';                                            /* Font-family */
    font-size:2rem;                                                   /* Font-size */
}

b {
    font-family:'titillium';                                          /* Font-family */
    font-size:1.15rem;                                                /* Font-size */
    text-align:left;                                                  /* Text-align */
    color:#555;                                                       /* Color */
}

b a {
    color:#000;                                                       /* Color */
    text-decoration:none;                                             /* Text-decoration */
}

b a:hover { color:blue; }                                             /* Color */

h2 {
    margin:1rem 0em 0em 0em;                                          /* Margin */
    font-family:'lobster';                                            /* Font-family */
    font-size:2rem;                                                   /* Font-size */
}

/* HEADER */
header h1 {
    margin:0;                                                         /* Margin */
    font-family:'sketch';                                             /* Font-family */
    font-size:5rem;                                                   /* Font-size */
    text-align:center;                                                /* Text-align */
}

/* GRID */
div.c3, div.c6 {
    min-height:500px;                                                 /* Min-height */
    margin-bottom:1rem;                                               /* Margin-bottom */
    text-align:center;                                                /* Text-align */
}

/* INFO */
div.info { border-right:none; }                                       /* Border-right */

div#dashed-sep {
    display:inline-block;                                             /* Display */
    width:80%;                                                        /* Width */
    height:1px;                                                       /* Height */
    margin-bottom:0.65rem;                                            /* Margin-bottom */
    border-bottom:0.1512rem dashed #000;                              /* Border-bottom */
}

/* CANVAS ELEM */
canvas {
    padding:1rem 1em;                                                 /* Padding */
    background-color:#3D0CDB;                                         /* Background-color */
    border:0.125em #242424 solid;                                     /* Border */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.5em #1E0765;                     /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.5em #1E0765;                     /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.5em #1E0765;                     /* CSS3 */
}

div#canvas { padding:1rem 1em; }                                      /* Padding */

/* DOWNLOAD CONTENT */
div.c12 { border:1px dashed #000; }                                   /* Border */

div.download-content { border-left:none; }                            /* Border-left */

div.download-content ul#nav li a {
    text-decoration:none;
    color:#FAFAFA;                                                    /* Color */
}

div.download-content ul#nav li {
    padding:0.05rem 0em;                                              /* Padding */
    margin-left:-0.75em;                                              /* Margin-left */
    margin-bottom:1rem;                                               /* Margin-bottom */
    font-family:'lobster';                                            /* Font-family */
    font-size:2.5rem;                                                 /* Font-size */
    list-style-type:none;                                             /* List-style-type */
    text-shadow:0em 0.1em 0.125em #000;                               /* Text-shadow */

    /* Border-radius */
    -webkit-border-radius:0.25em;                                     /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.25em;                                     /* -khtml: Konqueror */
       -moz-border-radius:0.25em;                                     /* -moz: Mozilla */
        -ms-border-radius:0.25em;                                     /* -ms: Microsoft */
         -o-border-radius:0.25em;                                     /* -o: Opera */
            border-radius:0.25em;                                     /* CSS3 */

    cursor:pointer;                                                   /* Cursor */

    /* CSS3 Transitions */
    -webkit-transition:background-color 1s linear;                    /* -webkit: Safari, Chrome */
     -khtml-transition:background-color 1s linear;                    /* -khtml: Konqueror */
       -moz-transition:background-color 1s linear;                    /* -moz: Mozilla */
        -ms-transition:background-color 1s linear;                    /* -ms: Microsoft */
         -o-transition:background-color 1s linear;                    /* -o: Opera */
            transition:background-color 1s linear;                    /* CSS3 */
}

div.download-content ul#nav li:first-child {
    background-color:#8E05D9;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #5F0491;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #5F0491;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #5F0491;                       /* CSS3 */
}

div.download-content ul#nav li:last-child {
    background-color:#0B49D9;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #093292;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #093292;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #093292;                       /* CSS3 */
}

div.download-content ul#nav li:first-child:hover {
    background-color:#B34DEB;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #5F0491;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #5F0491;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #5F0491;                       /* CSS3 */
}

div.download-content ul#nav li:last-child:hover {
    background-color:#5683EB;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #093292;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #093292;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #093292;                       /* CSS3 */
}

div.download-content ul#nav li:first-child:active {
    position:relative;                                                /* Position */
    top:0.063em;                                                      /* Top */

    /* Box-shadow */
    -webkit-box-shadow:0em 0.062em 0em #5F0491;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.062em 0em #5F0491;                       /* -moz: Mozilla */
            box-shadow:0em 0.062em 0em #5F0491;                       /* CSS3 */
}

div.download-content ul#nav li:last-child:active {
    position:relative;                                                /* Position */
    top:0.063em;                                                      /* Top */

    /* Box-shadow */
    -webkit-box-shadow:0em 0.062em 0em #093292;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.062em 0em #093292;                       /* -moz: Mozilla */
            box-shadow:0em 0.062em 0em #093292;                       /* CSS3 */
}

div.download-content ul#nav li::after {
    font-family:'icomoon';                                            /* Font-family */
    font-size:2rem;                                                   /* Font-size */
    content:'\e617';                                                  /* Content */
}

/* CANVAS GRADIENT CONTROLS */
form#context-control div.wrap { margin-top:1rem; }                    /* Margin-top */

div#color-gradient {
    margin:0 auto;                                                    /* Margin */
    margin-top:1rem;                                                  /* Margin-top */
    padding-top:0.25rem;                                              /* Padding-top */
    max-width:65%;                                                    /* Max-width */
    font-family:'courier';                                            /* Font-family */
    font-size:1.25rem;                                                /* Font-size */
    text-align:center;                                                /* Text-align */
    background-color:#000;                                            /* Background-color */
    color:#FED260;                                                    /* Color */
    border: 0.1em solid #888;                                         /* Border */

    /* Opacity */
    -khtml-opacity:0.9;                                               /* -khtml: Konqueror */
      -moz-opacity:0.9;                                               /* -moz: Mozilla */
           opacity:0.9;                                               /* CSS3 */
    filter: alpha(opacity=90);                                        /* IE filter */
}

div#color-gradient span.get-color { color:#73FFE4; }                  /* Color */

div#color-gradient span.input { color:#AD15FF; }                      /* Color */

form#canvas-control ul li label {
    margin-right:0.5em;                                               /* Margin-right */
    font-family:'titillium';                                          /* Font-family */
    font-size:1.25rem;                                                /* Font-size */
    text-shadow:0em 0em 0.01em #333;                                  /* Text-shadow */
}

form#canvas-control ul {
    /* Columns */
    -webkit-column-count:3;                                           /* -webkit: Safari, Chrome */
       -moz-column-count:3;                                           /* -moz: Mozilla */
         -o-column-count:3;                                           /* -o: Opera */
            column-count:3;                                           /* CSS3 */
    /* Gaps */
    -webkit-column-gap:0;                                             /* -webkit: Safari, Chrome */
       -moz-column-gap:0;                                             /* -moz: Mozilla */
         -o-column-gap:0;                                             /* -o: Opera */
            column-gap:0;                                             /* CSS3 */
}

form#canvas-control ul li input[type=range] {
    /* Appearance */
    -webkit-appearance:none;                                          /* -webkit: Safari, Chrome */
       -moz-appearance:none;                                          /* -moz: Mozilla */
            appearance:none;                                          /* CSS3 */

    background-color:silver;                                          /* Background-color */
    width:150px;                                                      /* Width */
    height:2px;                                                       /* Height */
}

form#canvas-control ul li input[type=range]::-webkit-slider-thumb {
    /* Appearance */
    -webkit-appearance:none;                                          /* -webkit: Safari, Chrome */
       -moz-appearance:none;                                          /* -moz: Mozilla */
            appearance:none;                                          /* CSS3 */

    background-color:#555;                                            /* Background-color */
    width:0.5em;                                                      /* Width */
    height:1rem;                                                      /* Height */
}

form#canvas-control ul li output {
    padding:0.25rem 0.25em;                                           /* Padding */
    color:#8FEC82;                                                    /* Color */
    background-color:#000;                                            /* Background-color */
    border:1px solid #000;                                            /* Border */

    /* Opacity */
    -khtml-opacity: 0.9;                                              /* -khtml: Konqueror */
      -moz-opacity: 0.9;                                              /* -moz: Mozilla */
           opacity: 0.9;                                              /* CSS3 */
    filter: alpha(opacity=90);                                        /* IE filter */
}

form#canvas-control div.wrap,
form#context-control div.wrap { text-align:center; }                  /* Text-Align */

form#canvas-control div.wrap div#set-button,
form#canvas-control div.wrap div#reset-button,
form#context-control div#blend-button,
form#context-control div#circles-button,
form#context-control div#triangles-button {
    display:inline-block;                                             /* Display */
    width:6em;                                                        /* Width */
    padding:0.1rem 0em;                                               /* Padding */
    margin-left:0.5rem;                                               /* Margin-left */
    margin-bottom:1rem;                                               /* Margin-bottom */
    font-family:'titillium';                                          /* Font-family */
    font-size:1.5rem;                                                 /* Font-size */
    line-height:2em;                                                  /* Line-height */
    text-decoration:none;                                             /* Text-decoration */
    color:#777777;                                                    /* Color */
    text-shadow:0px 1px 0px #ffffff;                                  /* Text-shadow */

    /* Background */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:   -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:    -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:     -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:  linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);

    background-color:#ededed;                                         /* Background-color */

    /* Box-shadow */
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;                 /* -webkit: Safari, Chrome */
       -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;                 /* -moz: Mozilla */
            box-shadow:inset 0px 1px 0px 0px #ffffff;                 /* CSS3 */

    border:0.1em solid #DCDCDC;                                       /* Border */

    /* Border radius */
    -webkit-border-radius: 0.25em;                                    /* -webkit: Safari, Chrome */
     -khtml-border-radius: 0.25em;                                    /* -khtml: Konqueror */
       -moz-border-radius: 0.25em;                                    /* -moz: Mozilla */
        -ms-border-radius: 0.25em;                                    /* -ms: Microsoft */
         -o-border-radius: 0.25em;                                    /* -o: Opera */
            border-radius: 0.25em;                                    /* CSS3 */

    cursor:pointer;                                                   /* Cursor */
}

form#canvas-control div.wrap div#set-button:hover,
form#canvas-control div.wrap div#reset-button:hover,
form#context-control div#blend-button:hover,
form#context-control div#circles-button:hover,
form#context-control div#triangles-button:hover {
    /* Background */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:   -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:    -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:     -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}

form#canvas-control div.wrap div#set-button:active,
form#canvas-control div.wrap div#reset-button:active,
form#context-control div#blend-button:active,
form#context-control div#circles-button:active,
form#context-control div#triangles-button:active {
    position:relative;                                                /* Position */
    top:1px;                                                          /* Top */
}