@font-face {
  font-family: 'CascadiaCode';
  src: url("../fonts/CascadiaCode/ttf/CascadiaCode-Regular.ttf") format("truetype"), url("../fonts/CascadiaCode/otf/CascadiaCode-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CourierPrime';
  src: url("../fonts/CourierPrime/CourierPrime-Regular.ttf") format("truetype"), url("../fonts/CourierPrime/CourierPrime-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gafata';
  src: url("../fonts/Gafata/Gafata-Regular.ttf") format("truetype"), url("../fonts/Gafata/Gafata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
html {
  background-color: #686c6f; }

body {
  background-color: #393f45; }

nav {
  display: flex;
  position: absolute;
  left: -200px;
  z-index: 10;
  flex-wrap: nowrap;
  float: left;
  min-height: 100vh;
  background: url("../images/png/tile.png");
  background-size: 90%;
  background-position-x: 101px;
  background-position-y: 4px;
  border-right: 1px solid #6f6f6f;
  box-shadow: 1px 0px 5px 0px #3b4c5b;
  transition: left 0.45s ease; }
  nav .nav-wrapper {
    width: 200px;
    background: rgba(31, 51, 73, 0.85);
    padding: 0.5rem !important; }
    nav .nav-wrapper #nav-icon {
      position: relative;
      margin: 0 auto;
      height: 61px;
      width: 61px;
      padding-top: 4px; }
      nav .nav-wrapper #nav-icon:hover {
        cursor: pointer; }
        nav .nav-wrapper #nav-icon:hover img#eye {
          animation: growOutIn 1s linear infinite; }
      nav .nav-wrapper #nav-icon img {
        display: block;
        position: absolute;
        width: 64px; }
        nav .nav-wrapper #nav-icon img#eye {
          opacity: 1; }
        nav .nav-wrapper #nav-icon img#eye-lid {
          opacity: 1; }
        nav .nav-wrapper #nav-icon img#triangle {
          opacity: 0; }
        nav .nav-wrapper #nav-icon img#triangle-inverted {
          opacity: 0; }
    nav .nav-wrapper .seperator {
      margin-top: 1.5rem !important;
      margin-bottom: 1.5rem !important;
      margin-left: 6px;
      margin-right: 6px;
      border-top: 2px solid #627384 !important; }
    nav .nav-wrapper .extra-buttons {
      display: flex;
      padding: 0; }
      nav .nav-wrapper .extra-buttons button {
        background-color: #2f5c77;
        outline: 1px solid #366575;
        box-shadow: 0px 0px 2px 0px black;
        border-radius: 1px;
        border: none;
        opacity: 0.6;
        margin: 0 auto;
        transition: background-color 1s;
        transition: opacity 1s; }
        nav .nav-wrapper .extra-buttons button:focus {
          box-shadow: none; }
        nav .nav-wrapper .extra-buttons button:hover {
          background-color: #377b92;
          opacity: 1; }
        nav .nav-wrapper .extra-buttons button img {
          width: 23px; }
        nav .nav-wrapper .extra-buttons button.disabled {
          background-color: #505050;
          opacity: 0.4; }
        nav .nav-wrapper .extra-buttons button.vector {
          background-color: unset;
          border: unset;
          outline: unset;
          box-shadow: unset;
          opacity: 1; }
          nav .nav-wrapper .extra-buttons button.vector .extra-icon {
            display: flex;
            height: 36px;
            fill: #c8c8c8;
            opacity: 0.5;
            transform: scale(1);
            transition: transform 0.35s ease, fill 0.35s ease, opacity 0.35s ease; }
            nav .nav-wrapper .extra-buttons button.vector .extra-icon:hover {
              fill: white;
              opacity: 1;
              transform: scale(1.2); }
            nav .nav-wrapper .extra-buttons button.vector .extra-icon:active {
              fill: #07b9ed;
              opacity: 1; }
            nav .nav-wrapper .extra-buttons button.vector .extra-icon.selected {
              fill: #07b9ed;
              opacity: 0.75; }
            nav .nav-wrapper .extra-buttons button.vector .extra-icon.disabled {
              cursor: not-allowed; }
              nav .nav-wrapper .extra-buttons button.vector .extra-icon.disabled:hover {
                fill: #c8c8c8;
                transform: scale(1);
                opacity: 0.5; }
      nav .nav-wrapper .extra-buttons.narrow {
        width: 75%; }
    nav .nav-wrapper .nav-menu {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0 !important; }
      nav .nav-wrapper .nav-menu ul {
        list-style: none;
        padding-left: 0rem !important;
        margin-left: 1rem !important;
        transition: opacity 300ms, display 300ms; }
        nav .nav-wrapper .nav-menu ul li.nav-link {
          display: block;
          padding: 0rem !important;
          padding-left: 0.5rem !important;
          padding-bottom: 0.5rem !important;
          color: unset;
          transition: unset; }
          nav .nav-wrapper .nav-menu ul li.nav-link a {
            padding-left: 0.25rem !important;
            text-decoration: unset !important; }
        nav .nav-wrapper .nav-menu ul.nav-links {
          padding-left: 0rem !important; }
        nav .nav-wrapper .nav-menu ul.show {
          animation: slidedown 300ms;
          display: block;
          opacity: 1; }
      nav .nav-wrapper .nav-menu button {
        color: white;
        text-shadow: 0px 0px 1px black;
        transition: color 0.5s ease; }
        nav .nav-wrapper .nav-menu button:before {
          width: 1.25em;
          line-height: 0;
          content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-stop-fill" viewBox="0 0 16 16"><path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5"/></svg>'); }
        nav .nav-wrapper .nav-menu button[data-button-open=true] {
          color: #009eb0; }
          nav .nav-wrapper .nav-menu button[data-button-open=true]:before {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-stop" viewBox="0 0 16 16"><path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5z"/></svg>'); }
        nav .nav-wrapper .nav-menu button[data-button-open=false] {
          color: white; }
        nav .nav-wrapper .nav-menu button:hover {
          color: #00e5ff; }
        nav .nav-wrapper .nav-menu button:hover, nav .nav-wrapper .nav-menu button:focus {
          background-color: unset;
          box-shadow: unset;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
      nav .nav-wrapper .nav-menu img {
        position: relative;
        width: 20px;
        height: 20px; }
      nav .nav-wrapper .nav-menu a {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        color: #a0a0a0;
        background-color: transparent;
        text-shadow: 0px 0px 1px black;
        transition: background-color 1s, color 1s; }
        nav .nav-wrapper .nav-menu a:hover, nav .nav-wrapper .nav-menu a:focus {
          color: white;
          box-shadow: none; }
    nav .nav-wrapper .external-links {
      display: flex;
      position: absolute;
      bottom: 41px;
      width: 83%;
      background: #1c262f;
      border-radius: 2px;
      opacity: 0.8;
      transition: opacity 1s; }
      nav .nav-wrapper .external-links.fade {
        opacity: 0; }
      nav .nav-wrapper .external-links:hover {
        opacity: 0.85; }
      nav .nav-wrapper .external-links a {
        display: contents;
        text-decoration: none; }
      nav .nav-wrapper .external-links img {
        display: inline-block;
        width: 25%;
        margin: 0px auto;
        padding: 5px 0px; }
    nav .nav-wrapper .nav-icons {
      width: 20%; }
    nav .nav-wrapper #version {
      display: flex;
      position: absolute;
      bottom: 10px;
      width: 83%;
      font-size: 15px;
      opacity: 0.9; }
      nav .nav-wrapper #version span {
        text-align: center;
        width: 50%;
        color: white; }
        nav .nav-wrapper #version span:nth-child(1) {
          background-color: #686868;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px; }
        nav .nav-wrapper #version span:nth-child(2) {
          background-color: #389fb2;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px; }

#nav-open {
  position: fixed;
  width: 128px;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 10; }

main {
  position: relative;
  padding-left: 200px;
  background: #686c6f;
  min-height: 100vh;
  overflow: auto; }
  main .album {
    overflow-x: hidden; }
    main .album .container {
      max-width: 100% !important;
      margin-top: -50px;
      margin-bottom: -35px;
      padding-bottom: 15px; }
      main .album .container #test-cards .col .card {
        background: #506173;
        box-shadow: 0px 1px 3px 1px #222222;
        border: none;
        border-radius: 2px;
        animation: open 0.1s ease;
        transition: all 0.15s ease; }
        main .album .container #test-cards .col .card canvas {
          background-color: white; }
        main .album .container #test-cards .col .card .card-header {
          background: white;
          padding: 0.25rem 0.5rem;
          border-bottom: unset; }
          main .album .container #test-cards .col .card .card-header .card-header-buttons {
            display: inline-block;
            height: 32px; }
            main .album .container #test-cards .col .card .card-header .card-header-buttons .icons > img {
              display: inline-block; }
              main .album .container #test-cards .col .card .card-header .card-header-buttons .icons > img[suite-data-type="Base"] {
                background-color: unset;
                border: unset;
                box-shadow: unset; }
                main .album .container #test-cards .col .card .card-header .card-header-buttons .icons > img[suite-data-type="Base"]:hover {
                  cursor: default; }
          main .album .container #test-cards .col .card .card-header .card-number {
            display: inline-block;
            position: absolute;
            right: -9px;
            top: 2px;
            width: 42px;
            float: right;
            z-index: 100;
            font-family: 'Roboto';
            font-size: 22px;
            color: #535d7e; }
            main .album .container #test-cards .col .card .card-header .card-number:hover .number {
              opacity: 0; }
            main .album .container #test-cards .col .card .card-header .card-number:hover .close {
              opacity: 1; }
            main .album .container #test-cards .col .card .card-header .card-number .number {
              opacity: 1;
              transition: opacity 0.5s; }
            main .album .container #test-cards .col .card .card-header .card-number .close {
              position: absolute;
              width: 23px;
              height: 23px;
              top: 6px;
              z-index: 10;
              opacity: 0;
              content: url("../images/svg/General/x-lg-black.svg");
              transition: opacity 0.5s;
              cursor: pointer; }
        main .album .container #test-cards .col .card .card-body {
          padding: 0.5rem 0.5rem; }
          main .album .container #test-cards .col .card .card-body .title {
            display: inline-block;
            position: relative;
            padding-top: 5px;
            padding-left: 5px;
            font-family: monospace;
            text-align: center;
            text-transform: capitalize;
            letter-spacing: 1px;
            color: white; }
          main .album .container #test-cards .col .card .card-body .card-body-buttons {
            display: inline-block;
            float: right;
            justify-content: center;
            flex-wrap: nowrap; }
        main .album .container #test-cards .col .card .icons {
          float: right;
          margin-top: 2px; }
          main .album .container #test-cards .col .card .icons .separator {
            position: relative;
            top: 2.75px;
            display: inline-block;
            width: 1.5px;
            margin-left: 1px;
            margin-right: 0.5px;
            border-radius: 2px;
            outline: 1px solid #525252;
            animation: pulseBackground 2s infinite; }
          main .album .container #test-cards .col .card .icons .easing-wrapper {
            position: relative; }
            main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions {
              display: block;
              max-height: 200px;
              overflow: auto;
              position: absolute;
              left: -170px;
              padding-left: 0;
              margin: 10px 0 0 0;
              z-index: 200;
              visibility: hidden;
              opacity: 0;
              list-style: none;
              transition: visibility 1s, opacity 1s; }
              main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li {
                padding: 3px 3px 4px 0px;
                margin-right: 5px;
                border-radius: 5px;
                opacity: 0.65;
                transition: opacity 1s, background 5s; }
                main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:hover {
                  cursor: pointer;
                  opacity: 1; }
                  main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:hover > span {
                    opacity: 1;
                    left: -10px; }
                main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:nth-child(-n + 10):hover {
                  background: linear-gradient(90deg, transparent 0%, #02ffde 200%);
                  outline: 1px solid rgba(2, 255, 222, 0.08); }
                  main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:nth-child(-n + 10):hover img:hover {
                    outline: 1.5px solid rgba(2, 255, 222, 0.08); }
                main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:nth-child(n +  10):hover {
                  background: linear-gradient(90deg, transparent 0%, #4fa6ff 200%);
                  outline: 1px solid rgba(79, 166, 255, 0.08); }
                  main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:nth-child(n +  10):hover img:hover {
                    outline: 1.5px solid rgba(79, 166, 255, 0.08); }
                main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:nth-child(n +  18):hover {
                  background: linear-gradient(90deg, transparent 0%, #b367ff 200%);
                  outline: 1px solid rgba(179, 103, 255, 0.08); }
                  main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li:nth-child(n +  18):hover img:hover {
                    outline: 1.5px solid rgba(179, 103, 255, 0.08); }
                main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li span {
                  color: black;
                  display: inline-block;
                  width: 170px;
                  position: relative;
                  top: 2px;
                  left: 0px;
                  font-size: 18px;
                  font-family: 'Roboto';
                  text-align: end;
                  letter-spacing: 0.75px;
                  transition: opacity 1s, left 0.25s ease;
                  opacity: 0;
                  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25), -1px 1px 1px rgba(255, 255, 255, 0.25), 1px 1px 1px rgba(255, 255, 255, 0.25), 1px -1px 1px rgba(255, 255, 255, 0.25); }
        main .album .container #test-cards .col .card.blank {
          cursor: unset;
          display: table-cell;
          min-height: 31.5vh;
          max-height: 100%;
          vertical-align: middle;
          background: none;
          box-shadow: none;
          color: transparent; }
          main .album .container #test-cards .col .card.blank:hover {
            cursor: unset;
            opacity: 0; }
        main .album .container #test-cards .col .card.plus {
          opacity: 0.5;
          outline: 3px ridge white;
          background-color: rgba(68, 80, 93, 0.4);
          color: black;
          transition: opacity 1s; }
          main .album .container #test-cards .col .card.plus:hover {
            cursor: pointer;
            opacity: 1; }
          main .album .container #test-cards .col .card.plus .plus {
            display: block;
            font-size: 60px;
            text-align: center;
            padding-bottom: 20px; }
        main .album .container #test-cards .col .card:hover {
          cursor: pointer;
          background: #5f7082; }
          main .album .container #test-cards .col .card:hover #Hexagram > path {
            transition: stroke 0.25s ease;
            stroke: #fff700;
            fill: #fff700;
            stroke-width: 1.45px;
            filter: drop-shadow(0px -1px 2px rgba(255, 247, 0, 0.4)); }
  main .modal .modal-dialog {
    max-width: 800px; }
    main .modal .modal-dialog .modal-content {
      width: 800px;
      background-color: rgba(31, 51, 73, 0.85);
      border: 1px solid #112678 !important;
      box-shadow: 0px 2px 3px black !important; }
      main .modal .modal-dialog .modal-content .modal-title {
        display: inline-block;
        font-family: monospace;
        color: white; }
      main .modal .modal-dialog .modal-content .modal-body {
        padding: 0.5rem; }
        main .modal .modal-dialog .modal-content .modal-body pre {
          margin: 0;
          border-radius: 3px; }
      main .modal .modal-dialog .modal-content .modal-footer {
        display: block;
        box-sizing: border-box;
        border-top-color: #225991; }
        main .modal .modal-dialog .modal-content .modal-footer .wrapper-left {
          position: relative;
          top: -10px;
          display: inline-block;
          width: 49%;
          padding-left: 5px; }
        main .modal .modal-dialog .modal-content .modal-footer .wrapper-right {
          display: inline-block;
          width: 48%;
          text-align: end; }
          main .modal .modal-dialog .modal-content .modal-footer .wrapper-right .right {
            float: right; }
        main .modal .modal-dialog .modal-content .modal-footer .btn-primary {
          background-color: transparent;
          border-color: white;
          transition: background-color 0.5s ease, border-color 0.5s ease; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-primary img {
            position: relative;
            top: -1px;
            padding-right: 2px; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-primary:hover {
            background-color: #0a58cc;
            border-color: transparent; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-primary:focus {
            box-shadow: none; }
      main .modal .modal-dialog .modal-content #copiedAlert .alert {
        margin-left: 14px;
        margin-right: 14px; }
        main .modal .modal-dialog .modal-content #copiedAlert .alert img {
          position: relative;
          top: -2px;
          padding-right: 6px; }
  main .offcanvas {
    cursor: default;
    width: 45%; }
    @media (max-width: 1200px) {
      main .offcanvas {
        width: 95%; } }
    main .offcanvas .offcanvas-body {
      background-color: #505f73;
      color: white;
      border-left: 1px solid #424551; }
      main .offcanvas .offcanvas-body h2:nth-child(2) {
        padding-left: 10px; }
      main .offcanvas .offcanvas-body h2::before, main .offcanvas .offcanvas-body h3::before, main .offcanvas .offcanvas-body h4::before {
        position: relative;
        top: 2px;
        padding-right: 6px;
        padding-left: 0px;
        content: url("../images/svg/General/c-circle-fill.svg"); }
      main .offcanvas .offcanvas-body h2 + p, main .offcanvas .offcanvas-body h3 + p, main .offcanvas .offcanvas-body h4 + p {
        padding: 7px 7px 7px 9px;
        margin-bottom: 13px;
        background-color: black;
        border-radius: 3px;
        font-family: 'CascadiaCode'; }
      main .offcanvas .offcanvas-body h3, main .offcanvas .offcanvas-body h4 {
        color: black;
        letter-spacing: 1px; }
        main .offcanvas .offcanvas-body h3::before, main .offcanvas .offcanvas-body h4::before {
          content: url("../images/svg/General/function-black.svg");
          position: relative;
          top: 10px;
          padding-right: 6px; }
      main .offcanvas .offcanvas-body p {
        margin-left: 10px;
        margin-bottom: 6px; }
        main .offcanvas .offcanvas-body p strong:nth-child(1) {
          color: #8cd7cd; }
          main .offcanvas .offcanvas-body p strong:nth-child(1)::before {
            position: relative;
            display: inline-block;
            bottom: -2px;
            padding-right: 5px;
            color: red;
            content: url("../images/svg/General/box-green.svg"); }
        main .offcanvas .offcanvas-body p strong:nth-child(4)::before {
          display: inline-block;
          position: relative;
          top: 3px;
          padding-right: 3px;
          content: url("../images/svg/General/return-left.svg"); }
        main .offcanvas .offcanvas-body p:nth-child(4) strong:nth-child(3) {
          display: block;
          padding-top: 10px; }
        main .offcanvas .offcanvas-body p a {
          color: #97c8ff;
          text-decoration: none; }
        main .offcanvas .offcanvas-body p:nth-child(3) {
          margin-left: 10px; }
      main .offcanvas .offcanvas-body ul {
        list-style-type: none;
        padding-left: 10px;
        margin-bottom: 0; }
        main .offcanvas .offcanvas-body ul li a {
          text-decoration: none;
          color: white; }
          main .offcanvas .offcanvas-body ul li a::before {
            position: relative;
            display: inline-block;
            top: 2px;
            padding-right: 6px;
            content: url("../images/svg/General/box.svg"); }
          main .offcanvas .offcanvas-body ul li a b {
            color: #d63384; }
        main .offcanvas .offcanvas-body ul li ul {
          position: relative;
          padding-left: 10px; }
          main .offcanvas .offcanvas-body ul li ul li a {
            color: #97c8ff;
            cursor: pointer; }
          main .offcanvas .offcanvas-body ul li ul li:nth-child(n - 1) > a::before {
            position: relative;
            top: 6px;
            padding-right: 6px;
            content: url("../images/svg/General/function.svg"); }
      main .offcanvas .offcanvas-body table {
        outline: 1px solid black;
        margin-top: 10px;
        margin-bottom: 12px;
        margin-left: 10px;
        border-radius: 2px;
        color: white; }
        main .offcanvas .offcanvas-body table thead {
          background-color: #2a5061; }
        main .offcanvas .offcanvas-body table tbody tr {
          border: 1px solid black; }
          main .offcanvas .offcanvas-body table tbody tr:nth-child(odd) {
            background-color: #637080; }
          main .offcanvas .offcanvas-body table tbody tr:nth-child(even) {
            background-color: #505f73; }
        main .offcanvas .offcanvas-body table tbody td {
          border: 1px solid black;
          color: #c8c8c8; }
          main .offcanvas .offcanvas-body table tbody td:last-of-type {
            border-right: none; }
        main .offcanvas .offcanvas-body table th, main .offcanvas .offcanvas-body table td {
          padding: 5px 10px;
          border: 1px solid black;
          border-collapse: separate;
          border-spacing: 8px; }
    main .offcanvas #offcanvas-reset {
      position: fixed;
      right: 30px;
      padding: 15px 10px;
      border-top: none;
      transition: opacity 1s;
      opacity: 0; }
      main .offcanvas #offcanvas-reset:hover {
        cursor: pointer; }
  main .lab-station {
    display: none;
    width: 100%;
    height: 100vh; }
    main .lab-station .container {
      padding: 0;
      margin: 0;
      max-width: 2000px; }
      main .lab-station .container .col {
        padding-left: 0;
        padding-right: 0;
        height: 100vh; }
    main .lab-station #lab {
      background-color: #1d1f21;
      margin-left: 0;
      margin-right: 0; }
      main .lab-station #lab #ruler {
        position: absolute;
        height: 100vh;
        opacity: 0;
        transition: opacity 1s ease; }
        main .lab-station #lab #ruler .dimensions {
          font-family: 'Roboto';
          position: relative;
          float: right;
          z-index: 30;
          margin: 15px;
          padding: 5px 10px;
          border: 1px solid #bfdbf8;
          border-radius: 2px;
          outline: 3px solid white;
          background-color: #dfe7ff; }
        main .lab-station #lab #ruler .horizontal, main .lab-station #lab #ruler #grid .horizontal-lines .horizontal-bold, main .lab-station #lab #grid .horizontal-lines #ruler .horizontal-bold {
          position: relative;
          top: 22px;
          width: 100%;
          height: 1px;
          margin-top: 10px;
          border-bottom: 1px solid #73f0ff; }
        main .lab-station #lab #ruler .vertical, main .lab-station #lab #ruler #grid .vertical-lines .vertical-bold, main .lab-station #lab #grid .vertical-lines #ruler .vertical-bold {
          position: relative;
          float: right;
          top: -10px;
          right: -91px;
          width: 1px;
          height: 99vh;
          border-right: 1px solid #73f0ff; }
      main .lab-station #lab #grid {
        position: absolute;
        height: 100vh;
        top: 1px;
        left: 200px;
        opacity: 0;
        transition: opacity 1s ease; }
        main .lab-station #lab #grid .horizontal-lines {
          position: absolute; }
          main .lab-station #lab #grid .horizontal-lines .horizontal, main .lab-station #lab #grid .horizontal-lines .horizontal-bold {
            position: relative;
            width: 100vh;
            height: 0px;
            margin-top: 16px;
            border-bottom: 1px solid #73f0ff;
            opacity: 0.5; }
          main .lab-station #lab #grid .horizontal-lines .horizontal-bold {
            border-bottom: 1px solid black; }
        main .lab-station #lab #grid .vertical-lines {
          position: inline-flex; }
          main .lab-station #lab #grid .vertical-lines .vertical, main .lab-station #lab #grid .vertical-lines .vertical-bold {
            display: inline-block;
            position: relative;
            width: 1px;
            height: 100vh;
            margin-left: 16px;
            border-right: 1px solid #73f0ff;
            opacity: 0.5; }
          main .lab-station #lab #grid .vertical-lines .vertical-bold {
            border-right: 1px solid black; }
      main .lab-station #lab canvas {
        background: white; }
      main .lab-station #lab #editor {
        margin-left: -10px;
        height: 90%; }
      main .lab-station #lab #control-panel {
        display: block;
        width: 100%;
        height: 55px;
        position: relative;
        padding-left: 1px;
        z-index: 50;
        font-family: 'Gafata';
        text-transform: uppercase;
        background-color: #26282c; }
        main .lab-station #lab #control-panel .container {
          font-size: 14px;
          display: flex;
          flex-wrap: nowrap;
          background: #484f56; }
          main .lab-station #lab #control-panel .container.data {
            margin-bottom: 3px; }
          main .lab-station #lab #control-panel .container.execute {
            border-radius: 3px; }
        main .lab-station #lab #control-panel .control {
          color: white;
          text-shadow: 0px 0px 1px black;
          outline: 1px solid black;
          opacity: 0.85;
          margin: 0 auto;
          padding-top: 2px;
          flex-grow: 1; }
          main .lab-station #lab #control-panel .control:first-child {
            border-radius: 3px 0 0 3px; }
          main .lab-station #lab #control-panel .control:last-child {
            border-radius: 0 3px 3px 0; }
          main .lab-station #lab #control-panel .control.button {
            padding: 0;
            text-align: center; }
          main .lab-station #lab #control-panel .control .name {
            padding: 0px 6px;
            border-right: 1px solid gray; }
          main .lab-station #lab #control-panel .control .value {
            display: inline-block;
            min-width: 22px;
            margin-left: 1px; }
          main .lab-station #lab #control-panel .control.disabled {
            cursor: default;
            background-color: gray; }
            main .lab-station #lab #control-panel .control.disabled:hover {
              background-color: gray; }
        main .lab-station #lab #control-panel .button {
          cursor: pointer;
          box-shadow: inset 0px 0px 2px 0px #00253c; }
          main .lab-station #lab #control-panel .button:hover {
            background-color: #1a6b98; }
          main .lab-station #lab #control-panel .button:active {
            background-color: #1a9698; }
          main .lab-station #lab #control-panel .button .icon {
            padding-top: 4px; }
          main .lab-station #lab #control-panel .button .menu {
            content: url("../images/svg/General/caret-up.svg"); }
          main .lab-station #lab #control-panel .button .sidebar {
            content: url("../images/svg/General/layout-sidebar.svg"); }
          main .lab-station #lab #control-panel .button .ruler {
            content: url("../images/svg/General/ruler.svg"); }
          main .lab-station #lab #control-panel .button .grid {
            content: url("../images/svg/General/grid.svg"); }
          main .lab-station #lab #control-panel .button .full-screen {
            content: url("../images/svg/General/aspect-ratio.svg"); }
          main .lab-station #lab #control-panel .button .clear {
            content: url("../images/svg/General/clear.svg"); }
          main .lab-station #lab #control-panel .button .boolean {
            content: url("../images/svg/General/boolean.svg"); }
          main .lab-station #lab #control-panel .button .value-plus {
            content: url("../images/svg/General/plus.svg"); }
          main .lab-station #lab #control-panel .button .value-minus {
            content: url("../images/svg/General/minus.svg"); }
          main .lab-station #lab #control-panel .button .color-picker {
            content: url("../images/svg/General/droplet-half.svg"); }
          main .lab-station #lab #control-panel .button .font-plus {
            content: url("../images/svg/General/font-plus.svg"); }
          main .lab-station #lab #control-panel .button .font-minus {
            content: url("../images/svg/General/font-minus.svg"); }
          main .lab-station #lab #control-panel .button .word-wrap {
            content: url("../images/svg/General/word-wrap.svg"); }
          main .lab-station #lab #control-panel .button .lock {
            content: url("../images/svg/General/unlock.svg"); }
          main .lab-station #lab #control-panel .button .download {
            content: url("../images/svg/General/download.svg"); }
        main .lab-station #lab #control-panel .picker_wrapper {
          bottom: 50px !important; }
          main .lab-station #lab #control-panel .picker_wrapper.popup.popup_top .picker_arrow {
            left: unset;
            right: 0px; }
          main .lab-station #lab #control-panel .picker_wrapper .picker_arrow {
            transform: rotate(90deg) rotateY(180deg); }
          main .lab-station #lab #control-panel .picker_wrapper .picker_hue {
            height: 20px;
            margin: 5px 5px 0 5px; }
            main .lab-station #lab #control-panel .picker_wrapper .picker_hue .picker_selector {
              width: 20px;
              height: 20px;
              top: 10px; }
          main .lab-station #lab #control-panel .picker_wrapper .picker_sl {
            width: 160px;
            height: 140px;
            margin: 7px 0 5px 5px;
            float: left; }
            main .lab-station #lab #control-panel .picker_wrapper .picker_sl .picker_selector {
              width: 20px;
              height: 20px; }
          main .lab-station #lab #control-panel .picker_wrapper .picker_alpha {
            display: inline-block;
            width: 10%;
            height: 140px;
            margin: 7px 5px 5px 0;
            float: right; }
            main .lab-station #lab #control-panel .picker_wrapper .picker_alpha .picker_selector {
              width: 20px;
              height: 20px;
              left: 10px; }
          main .lab-station #lab #control-panel .picker_wrapper .picker_editor input {
            margin: 0 5px 0 5px; }
          main .lab-station #lab #control-panel .picker_wrapper .picker_sample {
            width: 72%;
            height: 30px;
            margin: 5px 0 5px 5px;
            float: left; }
          main .lab-station #lab #control-panel .picker_wrapper button {
            width: 20%;
            height: 30px;
            margin: 5px 5px 5px 0;
            float: right; }
        main .lab-station #lab #control-panel .menu_popup {
          outline: 1px solid black;
          position: absolute;
          bottom: 40px;
          padding-left: 0px;
          background: #323232;
          color: white;
          list-style: none;
          letter-spacing: 6px; }
          main .lab-station #lab #control-panel .menu_popup li {
            padding: 2px 10px; }
            main .lab-station #lab #control-panel .menu_popup li:hover {
              background-color: #646464;
              cursor: pointer; }
        main .lab-station #lab #control-panel #execute {
          content: url("../images/svg/General/play.svg");
          display: flex;
          width: 100%;
          height: 26px;
          margin: 0 auto;
          padding: 2px;
          background: #484f56;
          border: 1px solid black;
          border-radius: 3px;
          opacity: 0.8; }
          main .lab-station #lab #control-panel #execute:hover {
            background-color: #1a6b98; }
          main .lab-station #lab #control-panel #execute:active {
            background-color: #1a9698; }
  main #lab-open {
    position: fixed;
    width: 120px;
    height: 100vh;
    bottom: 0;
    right: 0;
    z-index: 50; }
  main #byrne-systems-logo {
    width: 100%; }
    main #byrne-systems-logo img {
      display: block;
      margin: 0 auto;
      animation: pulse 2s infinite; }
      main #byrne-systems-logo img:hover {
        animation: expand 2s ease 0s infinite normal none; }

.dev-icons, main .album .container #test-cards .col .card .icons .card-icons, main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li img {
  width: 32px;
  height: 32px;
  padding: 2.75px;
  background-color: black;
  border: 1px solid #3c6a7f;
  border-radius: 3px;
  box-shadow: 0px 1px 2.5px 0px black;
  transition: background-color 1s; }
  .dev-icons:hover, main .album .container #test-cards .col .card .icons .card-icons:hover, main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions li img:hover {
    background-color: #11625f;
    cursor: pointer; }

.styled-scrollbars, main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions {
  scrollbar-color: white, rgba(0, 31, 61, 0.36); }

.styled-scrollbars::-webkit-scrollbar, main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions::-webkit-scrollbar {
  width: 5px;
  height: 10px; }

.styled-scrollbars::-webkit-scrollbar-thumb, main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, 0.5); }

.styled-scrollbars::-webkit-scrollbar-track, main .album .container #test-cards .col .card .icons .easing-wrapper ul.easing-functions::-webkit-scrollbar-track {
  background: rgba(0, 31, 61, 0.36);
  border-radius: 10px; }

.modal-backdrop {
  z-index: 999 !important; }

.vector-module, main .modal .modal-dialog .modal-content .modal-footer {
  background-color: unset;
  border: unset;
  outline: unset;
  box-shadow: unset;
  opacity: 1; }
  .vector-module .extra-icon, main .modal .modal-dialog .modal-content .modal-footer .extra-icon {
    display: flex;
    height: 31px;
    fill: #c8c8c8;
    opacity: 0.5;
    transform: scale(1);
    transition: transform 0.35s ease, fill 0.35s ease, opacity 0.35s ease; }
    .vector-module .extra-icon:hover, main .modal .modal-dialog .modal-content .modal-footer .extra-icon:hover {
      fill: white;
      opacity: 1;
      transform: scale(1.2); }
    .vector-module .extra-icon:active, main .modal .modal-dialog .modal-content .modal-footer .extra-icon:active {
      fill: #07b9ed;
      opacity: 1; }
    .vector-module .extra-icon.selected, main .modal .modal-dialog .modal-content .modal-footer .extra-icon.selected {
      fill: #07b9ed;
      opacity: 0.75; }
    .vector-module .extra-icon.disabled, main .modal .modal-dialog .modal-content .modal-footer .extra-icon.disabled {
      cursor: default; }
      .vector-module .extra-icon.disabled:hover, main .modal .modal-dialog .modal-content .modal-footer .extra-icon.disabled:hover {
        fill: #c8c8c8;
        transform: scale(1);
        opacity: 0.5; }

@media (min-width: 1500px) {
  .mq-test-card-scaling {
    width: 102%; } }
@media (min-width: 1530px) {
  .mq-test-card-scaling {
    width: 104%; } }
@media (min-width: 1560px) {
  .mq-test-card-scaling {
    width: 106%; } }
@media (min-width: 1590px) {
  .mq-test-card-scaling {
    width: 108%; } }
@media (min-width: 1620px) {
  .mq-test-card-scaling {
    width: 110%; } }
@media (min-width: 1650px) {
  .mq-test-card-scaling {
    width: 112%; } }
@media (min-width: 1680px) {
  .mq-test-card-scaling {
    width: 114%; } }
@media (min-width: 1710px) {
  .mq-test-card-scaling {
    width: 116%; } }
@media (min-width: 1740px) {
  .mq-test-card-scaling {
    width: 118%; } }
@media (min-width: 1770px) {
  .mq-test-card-scaling {
    width: 120%; } }
@media (min-width: 1800px) {
  .mq-test-card-scaling {
    width: 122%; } }
@media (min-width: 1830px) {
  .mq-test-card-scaling {
    width: 124%; } }
@media (min-width: 1860px) {
  .mq-test-card-scaling {
    width: 128%; } }
@media (min-width: 1890px) {
  .mq-test-card-scaling {
    width: 130%; } }

@media (max-width: 2424px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 14.2857142857% !important; } }
@media (max-width: 2100px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 16.6666666666% !important; } }
@media (max-width: 1800px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 20%            !important; } }
@media (max-width: 1500px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 25%            !important; } }
@media (max-width: 1200px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 33.3333333333% !important; } }
@media (max-width: 800px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 50%            !important; } }
@media (max-width: 600px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 100%           !important; } }
@media (max-width: 520px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 98%            !important; } }
@media (max-width: 510px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 95%            !important; } }
@media (max-width: 500px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 92%            !important; } }
@media (max-width: 490px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 89%            !important; } }
@media (max-width: 480px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 86%            !important; } }
@media (max-width: 470px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 83%            !important; } }
@media (max-width: 460px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 80%            !important; } }
@media (max-width: 450px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 77%            !important; } }
@media (max-width: 440px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 74%            !important; } }
@media (max-width: 430px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 71%            !important; } }
@media (max-width: 420px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 68%            !important; } }
@media (max-width: 410px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 65%            !important; } }
@media (max-width: 400px) {
  .mq-test-card-column-scaling, main .album .container #test-cards .col {
    width: 62%            !important; } }

@media (max-width: 2100px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 23vw; } }
@media (max-width: 2000px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 22.5vw; } }
@media (max-width: 1900px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 22vw; } }
@media (max-width: 1800px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 21.5vw; } }
@media (max-width: 1700px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 21vw; } }
@media (max-width: 1600px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 20.5vw; } }
@media (max-width: 1500px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 20vw; } }
@media (max-width: 1400px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 19.5vw; } }
@media (max-width: 1300px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 19vw; } }
@media (max-width: 1200px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 18.5vw; } }
@media (max-width: 1100px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 18vw; } }
@media (max-width: 1000px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 17.5vw; } }
@media (max-width: 900px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 17vw; } }
@media (max-width: 800px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 16.5vw; } }
@media (max-width: 700px) {
  .mq-card-blank-scaling, main .album .container #test-cards .col .card.blank {
    width: 16vw; } }

.card-delays:nth-child(1) {
  animation-delay: 0.1s; }
.card-delays:nth-child(2) {
  animation-delay: 0.2s; }
.card-delays:nth-child(3) {
  animation-delay: 0.3s; }
.card-delays:nth-child(4) {
  animation-delay: 0.4s; }
.card-delays:nth-child(5) {
  animation-delay: 0.5s; }
.card-delays:nth-child(6) {
  animation-delay: 0.6s; }
.card-delays:nth-child(7) {
  animation-delay: 0.7s; }
.card-delays:nth-child(8) {
  animation-delay: 0.8s; }
.card-delays:nth-child(9) {
  animation-delay: 0.9s; }
.card-delays:nth-child(10) {
  animation-delay: 1s; }
.card-delays:nth-child(11) {
  animation-delay: 1.1s; }
.card-delays:nth-child(12) {
  animation-delay: 1.2s; }
.card-delays:nth-child(13) {
  animation-delay: 1.3s; }
.card-delays:nth-child(14) {
  animation-delay: 1.4s; }
.card-delays:nth-child(15) {
  animation-delay: 1.5s; }
.card-delays:nth-child(16) {
  animation-delay: 1.6s; }
.card-delays:nth-child(17) {
  animation-delay: 1.7s; }
.card-delays:nth-child(20) {
  animation-delay: 1.8s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOutIn {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes fadeInOut-delay {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0); }
  15% {
    transform: rotateZ(-15deg); }
  20% {
    transform: rotateZ(10deg); }
  25% {
    transform: rotateZ(-10deg); }
  30% {
    transform: rotateZ(6deg); }
  35% {
    transform: rotateZ(-4deg); }
  40%, 100% {
    transform: rotateZ(0); } }
@keyframes pulseBackground {
  0% {
    background-color: #00ffcd; }
  100% {
    background-color: rgba(0, 255, 205, 0.6); } }
@keyframes growIn {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes growOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }
@keyframes growOutIn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
@keyframes growOutIn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes expand {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  80% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(3);
    opacity: 0; } }
@keyframes pulse {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 0.4; } }
@keyframes open {
  0% {
    transform: scale(0.97);
    opacity: 0.6; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes slidedown {
  from {
    transform: scaleY(0.1);
    transform: translateY(-1ch); }
  to {
    transform: scaleY(1);
    transform: translateY(0ch); } }

/*# sourceMappingURL=main.css.map */
