$width: 200px;

nav
{
    $linkColor:             rgb(255, 255, 255);
    $linkColorHover:        rgba(255, 255, 255, 0.85);
    $linkBackgroundHover:   rgb(43, 48, 53);
    $background:            rgb(57, 63, 69);
    $border-color:          rgb(73, 80, 87);

    display:        flex;
    position:       fixed;
    flex-wrap:      nowrap;
    float:          left;
    min-height:     100vh;

    overflow-x:     auto;
    overflow-y:     hidden;

    .nav-wrapper
    {
        width:      $width;
        background: $background;
        border:     2px solid rgb(50, 50, 50);

        .nav-header-image
        {
            margin:         0 auto;
            pointer-events: none;
            fill:           rgba(255, 255, 255, 0.85);
        }

        .btn-toggle
        {
            display:            inline-flex;
            align-items:        center;
            padding:            .25rem .5rem;
            font-weight:        600;
            color:              $linkColor;
            background-color:   transparent;
            border:             0;

            &:hover, &:focus
            {
                color:              $linkColorHover;
                background-color:   $linkBackgroundHover;
            }

            &::before
            {
                width:              1.25em;
                line-height:        0;
                content:            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255,255,255,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
                transition:         transform .35s ease;
                transform-origin:   .5em 50%;
            }

            &[aria-expanded="true"]
            {
                color: $linkColorHover;

                &::before { transform: rotate(90deg); }
            }
        }

        .btn-toggle-nav
        {
            a
            {
                display:            inline-flex;
                padding:            .1875rem .5rem;
                margin-top:         .125rem;
                margin-left:        1.25rem;
                text-decoration:    none;

                color: $linkColor;

                &:hover, &:focus { background-color: $linkBackgroundHover; }

                span
                {
                    margin-left: 10px;
                }
            }
        }

        .border-bottom { border-bottom: 2px solid $border-color !important; }

        .border-top    { border-top:    2px solid $border-color !important; }
    }
}

main
{
    margin-left:    $width;
    background:     rgb(104, 108, 111);

    .album
    {
        .container
        {
            margin-top: -50px;
            margin-bottom: -35px;

            .card
            {
                color:      white;
                background: rgb(57, 63, 69);

                border:     1px solid rgba(255, 255, 255, 0.5) !important;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, .25) !important;
            }
        }
    }
}

// ICONS
.my-icons
{
    width: 20%;
}
