////    FONTS    ///////////////////////////////////////////

@font-face {
    font-family: 'CascadiaCode';
        src: url('../fonts/CascadiaCode/otf/CascadiaCode-Regular.otf')          format('otf'),
             url('../fonts/CascadiaCode/ttf/CascadiaCode.ttf')                  format('truetype');
        font-weight: normal;
        font-style:  normal;
}

@font-face {
    font-family: 'CourierPrime';
        src: url('../fonts/CourierPrime/CourierPrime-Regular.ttf')              format('truetype'),
             url('../fonts/CourierPrime/courierprime-regular-webfont.woff2')    format('woff2');
        font-weight: normal;
        font-style:  normal;
}

@font-face {
    font-family: 'Laptop';
        src: url('../fonts/Laptop/Labtop-Bold.ttf')                             format('truetype'),
             url('../fonts/Laptop/labtop-bold-webfont.woff2')                   format('woff2');
        font-weight: normal;
        font-style:  normal;
}

@font-face {
    font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Regular.ttf')                          format('truetype'),
             url('../fonts/Roboto/roboto-regular-webfont.woff2')                format('woff2');
        font-weight: normal;
        font-style:  normal;
}

////    VARIABLES    ///////////////////////////////////////

$width: 200px;

////    RULES    ///////////////////////////////////////////

html { background-color: rgb(104, 108, 111); }

body { background-color: rgb(57, 63, 69); }

nav
{
    $linkColor:             rgb(255, 255, 255);
    $linkColorHover:        rgba(255, 255, 255, 0.85);
    $linkBackgroundHover:   rgba(75, 94, 113, 1);
    $background:            rgba(0, 28, 55, 0.25);
    $borderColor:           rgb(98, 115, 132);

    display:        flex;
    position:       absolute;
    flex-wrap:      nowrap;
    float:          left;
    min-height:     100vh;

    border-right:   1px solid rgb(111, 111, 111);
    box-shadow:     1px 0px 5px 0px rgb(59, 76, 91);

    #nav-icon
    {
        img
        {
            display:    block;
            width:      98px;
            margin:     0 auto;

            &:hover { animation: wiggle 2s linear infinite; }
        }

        @keyframes wiggle
        {
           0%, 7%    { transform: rotateZ(0);      }
           15%       { transform: rotateZ(-15deg); }
           20%       { transform: rotateZ(10deg);  }
           25%       { transform: rotateZ(-10deg); }
           30%       { transform: rotateZ(6deg);   }
           35%       { transform: rotateZ(-4deg);  }
           40%, 100% { transform: rotateZ(0);      }
        }
    }

    .nav-wrapper
    {
        width:      $width;
        background: $background;

        .nav-header-image
        {
            margin:         0 auto;
            pointer-events: none;
            fill:           rgba(255, 255, 255, 0.85);
        }

        #extra-buttons
        {
            display: flex;

            padding: 0;

            button
            {
                background-color:   rgb(47, 92, 119);
                outline:            1px solid rgba(54, 101, 117, 1);
                box-shadow:         0px 0px 2px 0px black;
                border-radius:      1px;
                border:             none;
                opacity:            0.6;
                margin:             0 auto;

                transition:         background-color 1s;
                transition:         opacity 1s;

                &:focus { box-shadow: none; }

                &:hover
                {
                    background-color: rgba(55, 123, 146, 1);
                    opacity:          1;
                }

                img { width: 23px; }

                &.disabled
                {
                    background-color:   rgb(80, 80, 80);
                    opacity:            0.4;
                }
            }
        }

        .btn-toggle
        {
            display:            inline-flex;
            align-items:        center;
            padding:            0.25rem 0.75rem 0.25rem .5rem;
            font-weight:        600;
            color:              $linkColor;
            background-color:   transparent;
            border:             0;
            transition:         background-color 1s;

            &:hover, &:focus
            {
                color:              $linkColorHover;

                background-color:   $linkBackgroundHover;

                box-shadow:         none;
            }

            &:before
            {
                position:           relative;
                margin-right:       2px;

                width:              1.25em;
                line-height:        0;
                content:            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255,255,255,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
                transition:         transform .35s ease;
                transform-origin:   .5em 50%;
            }

            &[aria-expanded="true"]
            {
                color: $linkColorHover;

                &:before { transform: rotate(90deg); }
            }
        }

        .btn-toggle-nav
        {
            a
            {
                display:            inline-flex;
                padding:            .1875rem .5rem;
                margin-top:         .125rem;
                margin-left:        1.25rem;
                text-decoration:    none;
                transition:         background-color 1s;

                color:              $linkColor;

                &:hover, &:focus { background-color: $linkBackgroundHover; }

                span { margin-left: 10px; }

                &.disabled
                {
                    pointer-events: none;
                    opacity:        0.65;

                    &:hover, &:focus { background-color: transparent; }
                }
            }
        }

        .border-top    { border-top:    2px solid $borderColor !important; }

        .border-bottom { border-bottom: 2px solid $borderColor !important; }

        li.mb-1
        {
            ul > li > a > span
            {
                position:   relative;
                top:        2.5px;
            }

            #documents-collapse
            {
                ul > li > a > img
                {
                    position: relative;
                    top:      2px;
                }
            }
        }

        li.mb-2
        {
            button
            {
                position:       relative;
                left:           10px;
                top:            2px;
                margin-bottom:  2px;
            }

            #animation-collapse
            {
                position: relative;
                left:     10px;
            }

            ul > li > a > span
            {
                position:   relative;
                top:        2.5px;
            }

            .btn-toggle-nav
            {
                a { margin-left:  2.25rem; }
            }
        }

        .links
        {
            display:        flex;
            position:       absolute;
            bottom:         14px;
            width:          83%;

            background:     rgb(28, 38, 47);

            border-radius:  2px;

            opacity:        0.4;
            transition:     opacity 1s;

            &.fade  { opacity: 0;    }

            &:hover { opacity: 0.85; }

            a
            {
                display:         contents;
                text-decoration: none;
            }

            img
            {
                display: inline-block;
                width:   25%;
                margin:  0px auto;
                padding: 5px 0px;
            }
        }

        .nav-icons { width: 20%; }
    }
}

main
{
    $cardBackground:    rgba(0, 31, 61, 0.36);
    $borderColor:       rgb(34, 89, 145);
    $borderRadius:      0.3rem;

    margin-left:    $width;
    background:     rgb(104, 108, 111);
    min-height:     100vh;

    overflow:       auto;

    .album
    {
        .container
        {
            max-width:      2000px;

            margin-top:     -50px;
            margin-bottom:  -35px;

            .col
            {
                &.blank:nth-child(n + 3) > .blank { opacity: 0; }

                ////////////    MEDIA QUERIES    ////////////
                @media (max-width: 1000px) { width: 33.3333333333%; }

                @media (max-width:  800px) { width: 50%;            }
            }

            .card
            {
                color:          white;
                background:     $cardBackground;

                border:         none;
                box-shadow:     0px 0px 2px rgba(0, 0, 0, 1) !important;

                border-radius:  $borderRadius;

                .card-number
                {
                    font-family:        'Roboto';
                    font-size:          22px;
                    color:              rgb(83, 93, 126);
                    text-shadow:        0px 0px 2px white;

                    position:           absolute;
                    z-index:            100;
                    display:            block;

                    width:              42px;
                    padding-left:       8px;
                    border:             1px solid rgb(220, 220, 220);
                    border-radius:      3px 0px 2px 0px;

                    background-color:   #ccc;
                    box-shadow:         0px 0px 2px rgba(0, 0, 0, .75) !important;
                    outline:            1px solid rgb(176, 176, 176);
                }

                canvas
                {
                    border-top-left-radius:  $borderRadius;
                    border-top-right-radius: $borderRadius;

                    background-color: white;
                }

                .card-body
                {
                    border: 0.5px solid rgba(3, 41, 116, .5) !important;

                    border-bottom-color: black !important;

                    border-bottom-left-radius:  $borderRadius;
                    border-bottom-right-radius: $borderRadius;

                    .card-title
                    {
                        font-family:    'CascadiaCode';
                        line-height:    30px;
                        text-align:     center;
                        text-transform: capitalize;

                        background:     rgba(19, 94, 140, .65);

                        outline:        1px solid rgb(38, 60, 92);
                        border-radius:  3px;

                        text-shadow:    0px 1px 2px black;
                        box-shadow:     inset 0px 0px 4px 0px rgb(54, 54, 54);
                    }

                    .card-buttons
                    {
                        width:           100%;

                        display:         inline-block;
                        justify-content: center;
                        flex-wrap:       nowrap;

                        .code-view-buttons
                        {
                            color:              white;
                            background-color:   rgb(50, 82, 121);

                            border:             1px solid rgb(60, 106, 127);
                            box-shadow:         0px 1px 2.5px 0px black;

                            &:hover
                            {
                                background-color:   rgb(39, 114, 137);
                                border-color:       rgb(0, 175, 255);
                            }
                        }

                        .icons
                        {
                            float: right;

                            margin-top: 2px;

                            .separator
                            {
                                position:           relative;
                                top:                3px;

                                display:            inline-block;
                                width:              2px;
                                margin-left:        1px;

                                background-color:   rgb(0, 147, 111);
                                border-radius:      2px;
                            }

                            .card-icons
                            {
                                width:              25px;
                                height:             25px;

                                background-color:   black;
                                border:             1px solid rgb(60, 106, 127);
                                border-radius:      3px;
                                box-shadow:         0px 1px 2.5px 0px black;

                                transition:         background-color 1s;

                                &:hover
                                {
                                    background-color: rgb(17, 98, 95);

                                    cursor:           pointer;
                                }
                            }

                            ul.easing-functions
                            {
                                display:        block;
                                max-height:     200px;
                                overflow:       auto;

                                position:       absolute;
                                left:           24px;
                                padding-left:   0;
                                margin:         10px 0 0 0;
                                z-index:        200;

                                visibility:     hidden;
                                opacity:        0;
                                list-style:     none;

                                transition:     visibility 1s, opacity 1s;

                                @extend .styled-scrollbars;

                                ////////////    MEDIA QUERIES    ////////////
                                @media (min-width:  900px) { left: -6vw;  }

                                @media (min-width: 1200px) { left: 1.6vw; }

                                li
                                {
                                    padding:        3px 5px 5px 0px;

                                    margin-right:   5px;

                                    border-radius:  5px;

                                    opacity:        0.35;

                                    transition:     opacity 1s, background 5s;

                                    &:hover
                                    {
                                        cursor:     pointer;

                                        opacity:    1;

                                        & > span { opacity: 1; left: -10px; }
                                    }

                                    &:nth-child(-n + 10):hover { background: linear-gradient(90deg, transparent 0%, rgba(  2, 255, 222, 1) 200%); img:hover { outline: 1.5px solid rgba( 42, 221, 225, 1); } }

                                    &:nth-child(n +  10):hover { background: linear-gradient(90deg, transparent 0%, rgba(  2, 127, 255, 1) 200%); img:hover { outline: 1.5px solid rgba( 76, 164, 255, 1); } }

                                    &:nth-child(n +  18):hover { background: linear-gradient(90deg, transparent 0%, rgba(128,   2, 255, 1) 200%); img:hover { outline: 1.5px solid rgba(177, 100, 255, 1); } }

                                    img
                                    {
                                        float:              right;
                                        width:              25px;
                                        height:             25px;
                                        background-color:   black;
                                        border:             1px solid rgb(60, 106, 127);
                                        border-radius:      3px;
                                        box-shadow:         0px 1px 2.5px 0px black;
                                    }

                                    span
                                    {
                                        color:          white;
                                        display:        inline-block;
                                        width:          160px;
                                        position:       relative;
                                        top:            1px;
                                        left:           0px;

                                        font-family:    'CascadiaCode';
                                        text-align:     end;

                                        transition:     opacity 1s, left 1s;

                                        opacity:        0;

                                        text-shadow: -1px -1px 1px rgba(0, 0, 0, .15), -1px 1px 1px rgba(0, 0, 0, .15), 1px 1px 1px rgba(0, 0, 0, .15), 1px -1px 1px rgba(0, 0, 0, .15);
                                    }
                                }
                            }
                        }
                    }
                }

                &.blank
                {
                    display:            table-cell;
                    min-height:         31.5vh;
                    max-height:         100%;
                    vertical-align:     middle;

                    outline:            3px ridge white;
                    background-color:   rgba(68, 80, 93, .4);

                    opacity:            0.5;

                    transition:         opacity 1s;

                    &:hover
                    {
                        cursor:     pointer;
                        opacity:    1;
                    }

                    .plus
                    {
                        display:            block;

                        font-size:          60px;
                        text-align:         center;
                        padding-bottom:     20px;
                    }

                    ////////////    MEDIA QUERIES    ////////////
                    @media (max-width: 1800px) { width: 21.5vw; }

                    @media (max-width: 1700px) { width: 21vw;   }

                    @media (max-width: 1600px) { width: 20.5vw; }

                    @media (max-width: 1500px) { width: 20vw;   }

                    @media (max-width: 1400px) { width: 19.5vw; }

                    @media (max-width: 1300px) { width: 19vw;   }

                    @media (max-width: 1200px) { width: 18.5vw; }

                    @media (max-width: 1100px) { width: 18vw;   }

                    @media (max-width: 1000px) { width: 17.5vw; }

                    @media (max-width:  900px) { width: 17vw;   }

                    @media (max-width:  800px) { width: 16.5vw; }

                    @media (max-width:  700px) { width: 16vw;   }
                }
            }
        }
    }

    .modal
    {
        .modal-dialog
        {
            max-width: 700px;

            .modal-content
            {
                $modalBackground:   rgba(6, 49, 92, 0.9);

                width: 700px;

                background-color:   $modalBackground;
                border:             1px solid rgba(17, 38, 120, 1) !important;
                box-shadow:         0px 2px 3px rgba(0, 0, 0, 1) !important;

                .modal-header
                {
                    border-bottom-color: $borderColor;

                    .modal-title
                    {
                        font-family: 'CascadiaCode';
                        color:        white;
                    }

                    .btn-close
                    {
                        background: transparent url('../images/svg/General/x-lg-white.svg');

                        &:hover { background: transparent url('../images/svg/General/x-lg-cyan.svg'); }
                    }
                }

                .modal-body
                {
                    pre
                    {
                        margin:         0;
                        border-radius:  3px;
                    }
                }

                .modal-footer
                {
                    border-top-color: $borderColor;

                    .btn-primary
                    {
                        background-color:   rgb(16, 43, 70);
                        border-color:       rgb(43, 97, 177);

                        img
                        {
                            position:       relative;

                            top:            -2px;
                            padding-right:  2px;
                        }

                        &:hover { background-color: rgb(10, 88, 204); }

                        &:focus { box-shadow: none; }
                    }

                    .btn-secondary
                    {
                        background-color:   rgb(98, 102, 105);
                        border-color:       rgb(56, 56, 56);

                        &:hover { background-color: rgb(130, 130, 131); }

                        &:focus { box-shadow: none; }
                    }
                }

                #copiedAlert
                {
                    .alert
                    {
                        margin-left: 14px;
                        margin-right: 14px;

                        img
                        {
                            position:       relative;

                            top:            -2px;
                            padding-right:  6px;
                        }
                    }
                }
            }
        }
    }

    .offcanvas
    {
        width: 45%;

        .offcanvas-body
        {
            h2, h3, h4
            {
                padding-bottom: 8px;

                & + p
                {
                    font-family:        'CascadiaCode';
                    background:         linear-gradient(90deg, rgba(210,234,255,1) 0%, rgba(255,255,255,1) 50%);
                    padding:            7px 7px 7px 9px;
                    margin-bottom:      13px;
                    border-radius:      3px;
                }
            }

            h3, h4
            {
                background:     linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 75%);

                margin-top:     42px;
                padding-top:    26px;
                padding-left:   16px;

                border-top:     1px solid rgb(229, 229, 229);

                border-radius:  0px 10px 0px 0px;

                &::before
                {
                    content:        url('../images/svg/General/caret-right.svg');

                    position:       relative;
                    top:            3px;
                    padding-right:  3px;
                }

                & + p
                {
                    margin-left: 45px;

                    & + table
                    {
                        margin-left: 45px;
                    }

                    & + p
                    {
                        margin-left: 45px;

                        & + table
                        {
                            margin-left: 45px;
                        }
                    }
                }
            }

            p
            {
                margin-bottom: 6px;

                strong:nth-child(1)::before                 // Kind
                {
                    display:        inline-block;

                    content:        url('../images/svg/General/puzzle.svg');

                    transform:      rotate(315deg);

                    padding-right:  3px;
                }

                strong:nth-child(4)::before                 // Return
                {
                    display:        inline-block;
                    position:       relative;
                    top:            3px;

                    content:        url('../images/svg/General/return-left.svg');

                    padding-right:  3px;
                }

                &:nth-child(4)
                {
                    strong:nth-child(3)
                    {
                        display:        block;
                        padding-top:    10px;
                    }
                }
            }

            ul
            {
                list-style-type:    none;
                padding-left:       2px;
                margin-bottom:      0;

                li
                {
                    a
                    {
                        text-decoration: none;

                        &::before                           // Object
                        {
                            position:       relative;
                            display:        inline-block;
                            top:            2px;
                            padding-right:  4px;

                            content:        url('../images/svg/General/book-half.svg');
                        }
                    }

                    ul
                    {
                        padding-left: 18px;

                        li:nth-child(n - 1) > a::before     // Function
                        {
                            content: url('../images/svg/General/bookmark-plus.svg');
                        }
                    }
                }
            }

            table
            {
                outline:        1px solid black;
                margin-bottom:  12px;

                thead
                {
                    background-color: rgb(177, 219, 255);

                    th
                    {
                        border-right:  1px solid black;
                        border-bottom: 1px solid black;

                        &:last-of-type
                        {
                            border-right: none;
                        }
                    }
                }

                tbody
                {
                    tr
                    {
                        &:nth-child(odd)  { background-color: rgb(235, 235, 235); }

                        &:nth-child(even) { background-color: rgb(255, 255, 255); }
                    }

                    td
                    {
                        border-right: 1px solid rgb(187, 187, 187);

                        &:last-of-type
                        {
                            border-right: none;
                        }
                    }
                }

                th, td
                {
                    border-collapse: separate;
                    border-spacing:  8px;

                    padding: 5px 10px;
                }
            }
        }

        #offcanvas-reset
        {
            position:       fixed;
            right:          30px;
            padding:        15px 10px;
            border-top:     none;

            transition:     opacity 1s;

            opacity:        0;

            &:hover { cursor: pointer; }
        }
    }

    #byrne-systems-logo
    {
        width: 100%;

        img
        {
            display:    block;
            margin:     0 auto;

            animation:  pulse 2s infinite;

            &:hover { animation: expand 2s ease 0s infinite normal none; }

            @keyframes expand
            {
                0%   { transform: scale(1); opacity: 0.8; }
                80%  { transform: scale(2); opacity: 0;   }
                100% { transform: scale(3); opacity: 0;   }
            }
        }

        @keyframes pulse
        {
            0%   { opacity: 0.4; }
            50%  { opacity: 0.6; }
            100% { opacity: 0.4; }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
////    ANCILLARY ITEMS    /////////////////////////////////////////////////////

////    [ SCROLL BAR ]    //////////////////////////////////

$scrollbar-color-foreground: white;
$scrollbar-color-background: rgba(0,  31,  61, 0.36);

.styled-scrollbars { scrollbar-color: $scrollbar-color-foreground, $scrollbar-color-background; }   // Foreground, Background

.styled-scrollbars::-webkit-scrollbar
{
    width:  5px;
    height: 10px;
}

.styled-scrollbars::-webkit-scrollbar-thumb
{
    background:     $scrollbar-color-foreground;
    border-radius:  5px;
    outline:        1px solid rgba(0, 0, 0, 0.5);
}

.styled-scrollbars::-webkit-scrollbar-track
{
    background:     $scrollbar-color-background;
    border-radius:  10px;
}
