@font-face {
  font-family: 'CascadiaCode';
  src: url("../fonts/CascadiaCode/otf/CascadiaCode-Regular.otf") format("otf"), url("../fonts/CascadiaCode/ttf/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CourierPrime';
  src: url("../fonts/CourierPrime/CourierPrime-Regular.ttf") format("truetype"), url("../fonts/CourierPrime/courierprime-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Laptop';
  src: url("../fonts/Laptop/Labtop-Bold.ttf") format("truetype"), url("../fonts/Laptop/labtop-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
html {
  background-color: #686c6f; }

body {
  background-color: #393f45; }

nav {
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  float: left;
  min-height: 100vh;
  border-right: 1px solid #6f6f6f;
  box-shadow: 1px 0px 5px 0px #3b4c5b; }
  nav #nav-icon img {
    display: block;
    width: 98px;
    margin: 0 auto; }
    nav #nav-icon img:hover {
      animation: wiggle 2s linear infinite; }
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0); }
  15% {
    transform: rotateZ(-15deg); }
  20% {
    transform: rotateZ(10deg); }
  25% {
    transform: rotateZ(-10deg); }
  30% {
    transform: rotateZ(6deg); }
  35% {
    transform: rotateZ(-4deg); }
  40%, 100% {
    transform: rotateZ(0); } }
  nav .nav-wrapper {
    width: 200px;
    background: rgba(0, 28, 55, 0.25); }
    nav .nav-wrapper .nav-header-image {
      margin: 0 auto;
      pointer-events: none;
      fill: rgba(255, 255, 255, 0.85); }
    nav .nav-wrapper #extra-buttons {
      display: flex;
      padding: 0; }
      nav .nav-wrapper #extra-buttons button {
        background-color: #2f5c77;
        outline: 1px solid #366575;
        box-shadow: 0px 0px 2px 0px black;
        border-radius: 1px;
        border: none;
        opacity: 0.6;
        margin: 0 auto;
        transition: background-color 1s;
        transition: opacity 1s; }
        nav .nav-wrapper #extra-buttons button:focus {
          box-shadow: none; }
        nav .nav-wrapper #extra-buttons button:hover {
          background-color: #377b92;
          opacity: 1; }
        nav .nav-wrapper #extra-buttons button img {
          width: 23px; }
        nav .nav-wrapper #extra-buttons button.disabled {
          background-color: #505050;
          opacity: 0.4; }
    nav .nav-wrapper .btn-toggle {
      display: inline-flex;
      align-items: center;
      padding: 0.25rem 0.75rem 0.25rem .5rem;
      font-weight: 600;
      color: white;
      background-color: transparent;
      border: 0;
      transition: background-color 1s; }
      nav .nav-wrapper .btn-toggle:hover, nav .nav-wrapper .btn-toggle:focus {
        color: rgba(255, 255, 255, 0.85);
        background-color: #4b5e71;
        box-shadow: none; }
      nav .nav-wrapper .btn-toggle:before {
        position: relative;
        margin-right: 2px;
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255,255,255,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%; }
      nav .nav-wrapper .btn-toggle[aria-expanded="true"] {
        color: rgba(255, 255, 255, 0.85); }
        nav .nav-wrapper .btn-toggle[aria-expanded="true"]:before {
          transform: rotate(90deg); }
    nav .nav-wrapper .btn-toggle-nav a {
      display: inline-flex;
      padding: .1875rem .5rem;
      margin-top: .125rem;
      margin-left: 1.25rem;
      text-decoration: none;
      transition: background-color 1s;
      color: white; }
      nav .nav-wrapper .btn-toggle-nav a:hover, nav .nav-wrapper .btn-toggle-nav a:focus {
        background-color: #4b5e71; }
      nav .nav-wrapper .btn-toggle-nav a span {
        margin-left: 10px; }
      nav .nav-wrapper .btn-toggle-nav a.disabled {
        pointer-events: none;
        opacity: 0.65; }
        nav .nav-wrapper .btn-toggle-nav a.disabled:hover, nav .nav-wrapper .btn-toggle-nav a.disabled:focus {
          background-color: transparent; }
    nav .nav-wrapper .border-top {
      border-top: 2px solid #627384 !important; }
    nav .nav-wrapper .border-bottom {
      border-bottom: 2px solid #627384 !important; }
    nav .nav-wrapper li.mb-1 ul > li > a > span {
      position: relative;
      top: 2.5px; }
    nav .nav-wrapper li.mb-1 #documents-collapse ul > li > a > img {
      position: relative;
      top: 2px; }
    nav .nav-wrapper li.mb-2 button {
      position: relative;
      left: 10px;
      top: 2px;
      margin-bottom: 2px; }
    nav .nav-wrapper li.mb-2 #animation-collapse {
      position: relative;
      left: 10px; }
    nav .nav-wrapper li.mb-2 ul > li > a > span {
      position: relative;
      top: 2.5px; }
    nav .nav-wrapper li.mb-2 .btn-toggle-nav a {
      margin-left: 2.25rem; }
    nav .nav-wrapper .links {
      display: flex;
      position: absolute;
      bottom: 14px;
      width: 83%;
      background: #1c262f;
      border-radius: 2px;
      opacity: 0.4;
      transition: opacity 1s; }
      nav .nav-wrapper .links.fade {
        opacity: 0; }
      nav .nav-wrapper .links:hover {
        opacity: 0.85; }
      nav .nav-wrapper .links a {
        display: contents;
        text-decoration: none; }
      nav .nav-wrapper .links img {
        display: inline-block;
        width: 25%;
        margin: 0px auto;
        padding: 5px 0px; }
    nav .nav-wrapper .nav-icons {
      width: 20%; }

main {
  margin-left: 200px;
  background: #686c6f;
  min-height: 100vh;
  overflow: auto; }
  main .album .container {
    max-width: 2000px;
    margin-top: -50px;
    margin-bottom: -35px; }
    main .album .container .col.blank:nth-child(n + 3) > .blank {
      opacity: 0; }
    @media (max-width: 1000px) {
      main .album .container .col {
        width: 33.3333333333%; } }
    @media (max-width: 800px) {
      main .album .container .col {
        width: 50%; } }
    main .album .container .card {
      color: white;
      background: rgba(0, 31, 61, 0.36);
      border: none;
      box-shadow: 0px 0px 2px black !important;
      border-radius: 0.3rem; }
      main .album .container .card .card-number {
        font-family: 'Roboto';
        font-size: 22px;
        color: #535d7e;
        text-shadow: 0px 0px 2px white;
        position: absolute;
        z-index: 100;
        display: block;
        width: 42px;
        padding-left: 8px;
        border: 1px solid gainsboro;
        border-radius: 3px 0px 2px 0px;
        background-color: #ccc;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75) !important;
        outline: 1px solid #b0b0b0; }
      main .album .container .card canvas {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        background-color: white; }
      main .album .container .card .card-body {
        border: 0.5px solid rgba(3, 41, 116, 0.5) !important;
        border-bottom-color: black !important;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem; }
        main .album .container .card .card-body .card-title {
          font-family: 'CascadiaCode';
          line-height: 30px;
          text-align: center;
          text-transform: capitalize;
          background: rgba(19, 94, 140, 0.65);
          outline: 1px solid #263c5c;
          border-radius: 3px;
          text-shadow: 0px 1px 2px black;
          box-shadow: inset 0px 0px 4px 0px #363636; }
        main .album .container .card .card-body .card-buttons {
          width: 100%;
          display: inline-block;
          justify-content: center;
          flex-wrap: nowrap; }
          main .album .container .card .card-body .card-buttons .code-view-buttons {
            color: white;
            background-color: #325279;
            border: 1px solid #3c6a7f;
            box-shadow: 0px 1px 2.5px 0px black; }
            main .album .container .card .card-body .card-buttons .code-view-buttons:hover {
              background-color: #277289;
              border-color: #00afff; }
          main .album .container .card .card-body .card-buttons .icons {
            float: right;
            margin-top: 2px; }
            main .album .container .card .card-body .card-buttons .icons .separator {
              position: relative;
              top: 3px;
              display: inline-block;
              width: 2px;
              margin-left: 1px;
              background-color: #00936f;
              border-radius: 2px; }
            main .album .container .card .card-body .card-buttons .icons .card-icons {
              width: 25px;
              height: 25px;
              background-color: black;
              border: 1px solid #3c6a7f;
              border-radius: 3px;
              box-shadow: 0px 1px 2.5px 0px black;
              transition: background-color 1s; }
              main .album .container .card .card-body .card-buttons .icons .card-icons:hover {
                background-color: #11625f;
                cursor: pointer; }
            main .album .container .card .card-body .card-buttons .icons ul.easing-functions {
              display: block;
              max-height: 200px;
              overflow: auto;
              position: absolute;
              left: 24px;
              padding-left: 0;
              margin: 10px 0 0 0;
              z-index: 200;
              visibility: hidden;
              opacity: 0;
              list-style: none;
              transition: visibility 1s, opacity 1s; }
              @media (min-width: 900px) {
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions {
                  left: -6vw; } }
              @media (min-width: 1200px) {
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions {
                  left: 1.6vw; } }
              main .album .container .card .card-body .card-buttons .icons ul.easing-functions li {
                padding: 3px 5px 5px 0px;
                margin-right: 5px;
                border-radius: 5px;
                opacity: 0.35;
                transition: opacity 1s, background 5s; }
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:hover {
                  cursor: pointer;
                  opacity: 1; }
                  main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:hover > span {
                    opacity: 1;
                    left: -10px; }
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:nth-child(-n + 10):hover {
                  background: linear-gradient(90deg, transparent 0%, #02ffde 200%); }
                  main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:nth-child(-n + 10):hover img:hover {
                    outline: 1.5px solid #2adde1; }
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:nth-child(n +  10):hover {
                  background: linear-gradient(90deg, transparent 0%, #027fff 200%); }
                  main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:nth-child(n +  10):hover img:hover {
                    outline: 1.5px solid #4ca4ff; }
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:nth-child(n +  18):hover {
                  background: linear-gradient(90deg, transparent 0%, #8002ff 200%); }
                  main .album .container .card .card-body .card-buttons .icons ul.easing-functions li:nth-child(n +  18):hover img:hover {
                    outline: 1.5px solid #b164ff; }
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions li img {
                  float: right;
                  width: 25px;
                  height: 25px;
                  background-color: black;
                  border: 1px solid #3c6a7f;
                  border-radius: 3px;
                  box-shadow: 0px 1px 2.5px 0px black; }
                main .album .container .card .card-body .card-buttons .icons ul.easing-functions li span {
                  color: white;
                  display: inline-block;
                  width: 160px;
                  position: relative;
                  top: 1px;
                  left: 0px;
                  font-family: 'CascadiaCode';
                  text-align: end;
                  transition: opacity 1s, left 1s;
                  opacity: 0;
                  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15), -1px 1px 1px rgba(0, 0, 0, 0.15), 1px 1px 1px rgba(0, 0, 0, 0.15), 1px -1px 1px rgba(0, 0, 0, 0.15); }
      main .album .container .card.blank {
        display: table-cell;
        min-height: 31.5vh;
        max-height: 100%;
        vertical-align: middle;
        outline: 3px ridge white;
        background-color: rgba(68, 80, 93, 0.4);
        opacity: 0.5;
        transition: opacity 1s; }
        main .album .container .card.blank:hover {
          cursor: pointer;
          opacity: 1; }
        main .album .container .card.blank .plus {
          display: block;
          font-size: 60px;
          text-align: center;
          padding-bottom: 20px; }
        @media (max-width: 1800px) {
          main .album .container .card.blank {
            width: 21.5vw; } }
        @media (max-width: 1700px) {
          main .album .container .card.blank {
            width: 21vw; } }
        @media (max-width: 1600px) {
          main .album .container .card.blank {
            width: 20.5vw; } }
        @media (max-width: 1500px) {
          main .album .container .card.blank {
            width: 20vw; } }
        @media (max-width: 1400px) {
          main .album .container .card.blank {
            width: 19.5vw; } }
        @media (max-width: 1300px) {
          main .album .container .card.blank {
            width: 19vw; } }
        @media (max-width: 1200px) {
          main .album .container .card.blank {
            width: 18.5vw; } }
        @media (max-width: 1100px) {
          main .album .container .card.blank {
            width: 18vw; } }
        @media (max-width: 1000px) {
          main .album .container .card.blank {
            width: 17.5vw; } }
        @media (max-width: 900px) {
          main .album .container .card.blank {
            width: 17vw; } }
        @media (max-width: 800px) {
          main .album .container .card.blank {
            width: 16.5vw; } }
        @media (max-width: 700px) {
          main .album .container .card.blank {
            width: 16vw; } }
  main .modal .modal-dialog {
    max-width: 700px; }
    main .modal .modal-dialog .modal-content {
      width: 700px;
      background-color: rgba(6, 49, 92, 0.9);
      border: 1px solid #112678 !important;
      box-shadow: 0px 2px 3px black !important; }
      main .modal .modal-dialog .modal-content .modal-header {
        border-bottom-color: #225991; }
        main .modal .modal-dialog .modal-content .modal-header .modal-title {
          font-family: 'CascadiaCode';
          color: white; }
        main .modal .modal-dialog .modal-content .modal-header .btn-close {
          background: transparent url("../images/svg/General/x-lg-white.svg"); }
          main .modal .modal-dialog .modal-content .modal-header .btn-close:hover {
            background: transparent url("../images/svg/General/x-lg-cyan.svg"); }
      main .modal .modal-dialog .modal-content .modal-body pre {
        margin: 0;
        border-radius: 3px; }
      main .modal .modal-dialog .modal-content .modal-footer {
        border-top-color: #225991; }
        main .modal .modal-dialog .modal-content .modal-footer .btn-primary {
          background-color: #102b46;
          border-color: #2b61b1; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-primary img {
            position: relative;
            top: -2px;
            padding-right: 2px; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-primary:hover {
            background-color: #0a58cc; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-primary:focus {
            box-shadow: none; }
        main .modal .modal-dialog .modal-content .modal-footer .btn-secondary {
          background-color: #626669;
          border-color: #383838; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-secondary:hover {
            background-color: #828283; }
          main .modal .modal-dialog .modal-content .modal-footer .btn-secondary:focus {
            box-shadow: none; }
      main .modal .modal-dialog .modal-content #copiedAlert .alert {
        margin-left: 14px;
        margin-right: 14px; }
        main .modal .modal-dialog .modal-content #copiedAlert .alert img {
          position: relative;
          top: -2px;
          padding-right: 6px; }
  main .offcanvas {
    width: 45%; }
    main .offcanvas .offcanvas-body h2, main .offcanvas .offcanvas-body h3, main .offcanvas .offcanvas-body h4 {
      padding-bottom: 8px; }
      main .offcanvas .offcanvas-body h2 + p, main .offcanvas .offcanvas-body h3 + p, main .offcanvas .offcanvas-body h4 + p {
        font-family: 'CascadiaCode';
        background: linear-gradient(90deg, #d2eaff 0%, white 50%);
        padding: 7px 7px 7px 9px;
        margin-bottom: 13px;
        border-radius: 3px; }
    main .offcanvas .offcanvas-body h3, main .offcanvas .offcanvas-body h4 {
      background: linear-gradient(180deg, #efefef 0%, white 75%);
      margin-top: 42px;
      padding-top: 26px;
      padding-left: 16px;
      border-top: 1px solid #e5e5e5;
      border-radius: 0px 10px 0px 0px; }
      main .offcanvas .offcanvas-body h3::before, main .offcanvas .offcanvas-body h4::before {
        content: url("../images/svg/General/caret-right.svg");
        position: relative;
        top: 3px;
        padding-right: 3px; }
      main .offcanvas .offcanvas-body h3 + p, main .offcanvas .offcanvas-body h4 + p {
        margin-left: 45px; }
        main .offcanvas .offcanvas-body h3 + p + table, main .offcanvas .offcanvas-body h4 + p + table {
          margin-left: 45px; }
        main .offcanvas .offcanvas-body h3 + p + p, main .offcanvas .offcanvas-body h4 + p + p {
          margin-left: 45px; }
          main .offcanvas .offcanvas-body h3 + p + p + table, main .offcanvas .offcanvas-body h4 + p + p + table {
            margin-left: 45px; }
    main .offcanvas .offcanvas-body p {
      margin-bottom: 6px; }
      main .offcanvas .offcanvas-body p strong:nth-child(1)::before {
        display: inline-block;
        content: url("../images/svg/General/puzzle.svg");
        transform: rotate(315deg);
        padding-right: 3px; }
      main .offcanvas .offcanvas-body p strong:nth-child(4)::before {
        display: inline-block;
        position: relative;
        top: 3px;
        content: url("../images/svg/General/return-left.svg");
        padding-right: 3px; }
      main .offcanvas .offcanvas-body p:nth-child(4) strong:nth-child(3) {
        display: block;
        padding-top: 10px; }
    main .offcanvas .offcanvas-body ul {
      list-style-type: none;
      padding-left: 2px;
      margin-bottom: 0; }
      main .offcanvas .offcanvas-body ul li a {
        text-decoration: none; }
        main .offcanvas .offcanvas-body ul li a::before {
          position: relative;
          display: inline-block;
          top: 2px;
          padding-right: 4px;
          content: url("../images/svg/General/book-half.svg"); }
      main .offcanvas .offcanvas-body ul li ul {
        padding-left: 18px; }
        main .offcanvas .offcanvas-body ul li ul li:nth-child(n - 1) > a::before {
          content: url("../images/svg/General/bookmark-plus.svg"); }
    main .offcanvas .offcanvas-body table {
      outline: 1px solid black;
      margin-bottom: 12px; }
      main .offcanvas .offcanvas-body table thead {
        background-color: #b1dbff; }
        main .offcanvas .offcanvas-body table thead th {
          border-right: 1px solid black;
          border-bottom: 1px solid black; }
          main .offcanvas .offcanvas-body table thead th:last-of-type {
            border-right: none; }
      main .offcanvas .offcanvas-body table tbody tr:nth-child(odd) {
        background-color: #ebebeb; }
      main .offcanvas .offcanvas-body table tbody tr:nth-child(even) {
        background-color: white; }
      main .offcanvas .offcanvas-body table tbody td {
        border-right: 1px solid #bbbbbb; }
        main .offcanvas .offcanvas-body table tbody td:last-of-type {
          border-right: none; }
      main .offcanvas .offcanvas-body table th, main .offcanvas .offcanvas-body table td {
        border-collapse: separate;
        border-spacing: 8px;
        padding: 5px 10px; }
    main .offcanvas #offcanvas-reset {
      position: fixed;
      right: 30px;
      padding: 15px 10px;
      border-top: none;
      transition: opacity 1s;
      opacity: 0; }
      main .offcanvas #offcanvas-reset:hover {
        cursor: pointer; }
  main #byrne-systems-logo {
    width: 100%; }
    main #byrne-systems-logo img {
      display: block;
      margin: 0 auto;
      animation: pulse 2s infinite; }
      main #byrne-systems-logo img:hover {
        animation: expand 2s ease 0s infinite normal none; }
@keyframes expand {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  80% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(3);
    opacity: 0; } }
@keyframes pulse {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 0.4; } }
.styled-scrollbars, main .album .container .card .card-body .card-buttons .icons ul.easing-functions {
  scrollbar-color: white, rgba(0, 31, 61, 0.36); }

.styled-scrollbars::-webkit-scrollbar, main .album .container .card .card-body .card-buttons .icons ul.easing-functions::-webkit-scrollbar {
  width: 5px;
  height: 10px; }

.styled-scrollbars::-webkit-scrollbar-thumb, main .album .container .card .card-body .card-buttons .icons ul.easing-functions::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, 0.5); }

.styled-scrollbars::-webkit-scrollbar-track, main .album .container .card .card-body .card-buttons .icons ul.easing-functions::-webkit-scrollbar-track {
  background: rgba(0, 31, 61, 0.36);
  border-radius: 10px; }

/*# sourceMappingURL=main.css.map */
