////    FONTS    ///////////////////////////////////////////

@font-face
{
    font-family: 'CascadiaCode';
        src: url('../fonts/CascadiaCode/ttf/CascadiaCode-Regular.ttf')  format('truetype'),
             url('../fonts/CascadiaCode/otf/CascadiaCode-Regular.otf')  format('otf');
        font-weight: normal;
        font-style:  normal;
}

@font-face
{
    font-family: 'CourierPrime';
        src: url('../fonts/CourierPrime/CourierPrime-Regular.ttf')      format('truetype'),
             url('../fonts/CourierPrime/CourierPrime-Regular.woff2')    format('woff2');
        font-weight: normal;
        font-style:  normal;
}

@font-face
{
    font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Regular.ttf')      format('truetype'),
             url('../fonts/Roboto/Roboto-Regular.woff2')    format('woff2');
        font-weight: normal;
        font-style:  normal;
}

@font-face
{
    font-family: 'Gafata';
        src: url('../fonts/Gafata/Gafata-Regular.ttf')      format('truetype'),
             url('../fonts/Gafata/Gafata-Regular.woff2')    format('woff2');
        font-weight: normal;
        font-style:  normal;
}

////    VARIABLES    ///////////////////////////////////////

$width: 200px;

////    RULES    ///////////////////////////////////////////

html { background-color: rgb(104, 108, 111); }

body { background-color: rgb( 57,  63,  69); }

nav
{
    $linkColor:             rgba(255, 255, 255, 1   );
    $linkColorHover:        rgba(255, 255, 255, 0.85);
    $linkBackgroundHover:   rgba( 75,  94, 113, 1   );
    $background:            rgba( 31,  51,  73, 0.85);
    $borderColor:           rgba( 98, 115, 132, 1   );

    display:        flex;
    position:       absolute;
    left:           -200px;
    z-index:        10;

    flex-wrap:      nowrap;
    float:          left;
    min-height:     100vh;

    background:             url("../images/svg/Background/koi-fish.svg");
    background-size:        141%;
    background-position-x:  -36px;

    border-right:   1px solid       rgb(111, 111, 111);
    box-shadow:     1px 0px 5px 0px rgb( 59,  76,  91);

    transition:     left 0.45s ease;

    #nav-icon
    {
        // outline: 1px solid white;

        position:   relative;
        margin:     0 auto;
        height:     61px;
        width:      61px;

        &:hover
        {
            cursor: pointer;

            // img
            // {
            //     // Animations

            //     &#eye               { animation: growOutIn       2s linear infinite; }

            //     &#eye-lid           { animation: fadeOut         2s linear forwards; }

            //     &#triangle          { animation: fadeInOut-delay 6s linear infinite; }

            //     &#triangle-inverted { animation: fadeInOut-delay 6s linear infinite; }

            //     // Delays

            //     &#triangle          { animation-delay: 1s; }

            //     &#triangle-inverted { animation-delay: 2s; }
            // }

            img
            {
                // Animations

                &#eye               { animation: growOutIn       1s linear infinite; }

                // &#eye-lid           { animation: fadeOut         2s linear forwards; }

                // &#triangle          { animation: fadeInOut-delay 6s linear infinite; }

                // &#triangle-inverted { animation: fadeInOut-delay 6s linear infinite; }

                // Delays

                // &#triangle          { animation-delay: 1s; }

                // &#triangle-inverted { animation-delay: 2s; }
            }
        }

        img
        {
            display:    block;
            position:   absolute;
            width:      64px;

            &#eye               { opacity: 1; }

            &#eye-lid           { opacity: 1; }

            &#triangle          { opacity: 0; }

            &#triangle-inverted { opacity: 0; }
        }
    }

    .nav-wrapper
    {
        width:      $width;
        background: $background;

        .nav-header-image
        {
            margin:         0 auto;
            pointer-events: none;
            fill:           rgba(255, 255, 255, 0.85);
        }

        .extra-buttons
        {
            display: flex;
            padding: 0;

            button
            {
                background-color:   rgb(47, 92, 119);
                outline:            1px solid rgba(54, 101, 117, 1);
                box-shadow:         0px 0px 2px 0px black;
                border-radius:      1px;
                border:             none;
                opacity:            0.6;
                margin:             0 auto;

                transition:         background-color 1s;
                transition:         opacity 1s;

                &:focus { box-shadow: none; }

                &:hover
                {
                    background-color: rgba(55, 123, 146, 1);
                    opacity:          1;
                }

                img { width: 23px; }

                &.disabled
                {
                    background-color:   rgb(80, 80, 80);
                    opacity:            0.4;
                }

                &.vector
                {
                    $color-default:     rgb(200, 200, 200);
                    $color-primary:     rgb(  7, 185, 237);
                    $color-secondary:   rgb(237, 139,   7);

                    background-color:   unset;
                    border:             unset;
                    outline:            unset;
                    box-shadow:         unset;
                    opacity:            1;

                    .extra-icon
                    {
                        $timing:        0.35s;

                        display:        flex;
                        height:         36px;

                        fill:           $color-default;
                        opacity:        0.5;
                        transform:      scale(1);

                        transition:     transform $timing ease, fill $timing ease, opacity $timing ease;

                        &:hover
                        {
                            fill:       white;
                            opacity:    1;
                            transform:  scale(1.2);
                        }

                        &:active
                        {
                            fill:       $color-primary;
                            opacity:    1;
                        }

                        &.selected
                        {
                            fill:       $color-primary;
                            opacity:    0.75;
                        }

                        &.disabled
                        {
                            cursor:     not-allowed;

                            &:hover
                            {
                                fill:       $color-default;
                                transform:  scale(1);
                                opacity:    0.5;
                            }
                        }
                    }
                }
            }

            &.narrow { width: 75%; }
        }

        .btn-toggle
        {
            display:            inline-flex;
            align-items:        center;
            padding:            0.25rem 0.75rem 0.25rem .5rem;
            font-weight:        600;
            color:              $linkColor;
            background-color:   transparent;
            border:             0;
            transition:         background-color 1s;

            &:hover, &:focus
            {
                color:              $linkColorHover;

                background-color:   $linkBackgroundHover;

                box-shadow:         none;
            }

            &:before
            {
                position:           relative;
                margin-right:       2px;

                width:              1.25em;
                line-height:        0;
                content:            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255,255,255,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
                transition:         transform .35s ease;
                transform-origin:   .5em 50%;
            }

            &[aria-expanded="true"]
            {
                color: $linkColorHover;

                &:before { transform: rotate(90deg); }
            }
        }

        .btn-toggle-nav
        {
            a
            {
                display:            inline-flex;
                padding:            .1875rem .5rem;
                margin-top:         .125rem;
                margin-left:        1.25rem;
                text-decoration:    none;
                transition:         background-color 1s;

                color:              $linkColor;

                &:hover,
                &:focus { background-color: $linkBackgroundHover; }

                span { margin-left: 10px; }

                &.disabled
                {
                    pointer-events: none;
                    opacity:        0.65;

                    &:hover,
                    &:focus { background-color: transparent; }
                }
            }
        }

        .border-top    { border-top:    2px solid $borderColor !important; }

        .border-bottom { border-bottom: 2px solid $borderColor !important; }

        li.mb-1
        {
            ul > li > a > span
            {
                position:   relative;
                top:        2.5px;
            }

            #documents-collapse ul > li > a > img
            {
                position:   relative;
                top:        2px;
            }
        }

        li.mb-2
        {
            button
            {
                position:       relative;
                left:           10px;
                top:            2px;
                margin-bottom:  2px;
            }

            #animation-collapse
            {
                position: relative;
                left:     10px;
            }

            ul > li > a > span
            {
                position:   relative;
                top:        2.5px;
            }

            .btn-toggle-nav a { margin-left:  2.25rem; }
        }

        .links
        {
            display:        flex;
            position:       absolute;
            bottom:         14px;
            width:          83%;

            background:     rgb(28, 38, 47);

            border-radius:  2px;

            opacity:        0.8;
            transition:     opacity 1s;

            &.fade  { opacity: 0;    }

            &:hover { opacity: 0.85; }

            a
            {
                display:         contents;
                text-decoration: none;
            }

            img
            {
                display: inline-block;
                width:   25%;
                margin:  0px auto;
                padding: 5px 0px;
            }
        }

        .nav-icons { width: 20%; }
    }
}

#nav-open
{
    position:   fixed;
    width:      128px;
    height:     64px;
    top:        0;
    left:       0;
    z-index:    10;
}

main
{
    $cardBackground:    rgba(62, 83, 104, 1);
    $borderColor:       rgba(34, 89, 145, 1);
    $borderRadius:      0.3rem;

    position:       relative;
    padding-left:   $width;
    background:     rgb(104, 108, 111);
    min-height:     100vh;

    overflow:       auto;

    .album
    {
        overflow-x: hidden;

        .container
        {
            max-width:      100% !important;

            margin-top:     -50px;
            margin-bottom:  -35px;
            padding-bottom:  15px;

            .growOut { animation: growOut 0.25s ease; }

            #test-cards
            {
                .col
                {
                    &.extra:nth-child(n + 3) > .extra
                    {
                        opacity: 0;

                        &.hidden
                        {
                            opacity: 0;

                            &:hover
                            {
                                opacity: 0;
                                cursor:  default;
                            }
                        }
                    }

                    @extend .mq-test-card-column-scaling;

                    .card
                    {
                        color:          white;
                        background:     $cardBackground;

                        border:         none;
                        box-shadow:     0px 0px 2px rgba(0, 0, 0, 1) !important;

                        border-radius:  $borderRadius;

                        .card-number
                        {
                            font-family:        'Roboto';
                            font-size:          22px;
                            color:              rgb(83, 93, 126);
                            text-shadow:        0px 0px 2px white;

                            position:           absolute;
                            z-index:            100;
                            display:            block;

                            width:              42px;
                            padding-left:       8px;
                            border:             1px solid rgb(220, 220, 220);
                            border-radius:      3px 0px 2px 0px;

                            background-color:   #ccc;
                            box-shadow:         0px 0px 2px rgba(0, 0, 0, .75) !important;
                            outline:            1px solid rgb(176, 176, 176);

                            &:hover
                            {
                                .number { opacity: 0; }

                                .close  { opacity: 1; }
                            }

                            .number
                            {
                                opacity:        1;

                                transition:     opacity 0.5s;
                            }

                            .close
                            {
                                width:          23px;
                                height:         23px;
                                position:       absolute;
                                left:           9px;
                                top:            6px;

                                opacity:        0;

                                content:        url('../images/svg/General/x-lg-black.svg');

                                transition:     opacity 0.5s;

                                z-index:        10;
                                cursor:         pointer;
                            }
                        }

                        canvas
                        {
                            border-top-left-radius:  $borderRadius;
                            border-top-right-radius: $borderRadius;

                            background-color: white;
                        }

                        .card-body
                        {
                            border:                     0.5px solid rgba(3, 41, 116, .5) !important;

                            border-bottom-color:        black !important;

                            border-bottom-left-radius:  $borderRadius;
                            border-bottom-right-radius: $borderRadius;

                            .card-title
                            {
                                font-family:    'CascadiaCode';
                                line-height:    30px;
                                text-align:     center;
                                text-transform: capitalize;

                                background:     rgba(0, 67, 109, 0.65);

                                border-bottom:  1px solid rgb(40, 70, 94);

                                outline:        1px solid black;
                                border-radius:  3px;

                                text-shadow:    0px 1px 2px black;
                                box-shadow:     inset 0px 0px 4px 0px rgb(54, 54, 54);
                            }

                            .card-buttons
                            {
                                width:           100%;

                                display:         inline-block;
                                justify-content: center;
                                flex-wrap:       nowrap;

                                .code-view-buttons
                                {
                                    position:           relative;
                                    top:                3px;

                                    height:             36px;

                                    border:             none;
                                    background-color:   transparent;

                                    transition:         background-color 1.5s ease, box-shadow 0.5s ease;

                                    svg
                                    {
                                        width:      22px;
                                        height:     22px;

                                        fill:       rgba(4, 23, 72, 0.5);

                                        transition: fill 0.5s ease;
                                    }

                                    &:hover
                                    {
                                        box-shadow:         none;
                                        background-color:   transparent;

                                        & > svg { fill: white; }
                                    }

                                    &:focus { box-shadow: unset; }
                                }

                                .icons
                                {
                                    float: right;

                                    margin-top: 2px;

                                    .separator
                                    {
                                        position:           relative;
                                        top:                2.75px;

                                        display:            inline-block;
                                        width:              1.5px;
                                        margin-left:        1px;
                                        margin-right:       0.5px;

                                        border-radius:      2px;
                                        outline:            1px solid rgba(82, 82, 82, 1);

                                        animation:          pulseBackground 2s infinite;
                                    }

                                    .card-icons { @extend .dev-icons; }

                                    .easing-wrapper
                                    {
                                        position: relative;

                                        ul.easing-functions
                                        {
                                            display:        block;
                                            max-height:     200px;
                                            overflow:       auto;

                                            position:       absolute;
                                            left:           -170px;
                                            padding-left:   0;
                                            margin:         10px 0 0 0;
                                            z-index:        200;

                                            visibility:     hidden;
                                            opacity:        0;
                                            list-style:     none;

                                            transition:     visibility 1s, opacity 1s;

                                            @extend .styled-scrollbars;

                                            li
                                            {
                                                padding:        3px 3px 4px 0px;

                                                margin-right:   5px;

                                                border-radius:  5px;

                                                opacity:        0.35;

                                                transition:     opacity 1s, background 5s;

                                                &:hover
                                                {
                                                    cursor:     pointer;

                                                    opacity:    1;

                                                    & > span { opacity: 1; left: -10px; }
                                                }

                                                &:nth-child(-n + 10):hover
                                                {
                                                    $background: rgba(  2, 255, 222, 0.08);

                                                    background: linear-gradient(90deg, transparent 0%, rgba(  2, 255, 222, 1) 200%);

                                                    outline:    1px solid $background;

                                                    img:hover { outline: 1.5px solid $background; }
                                                }

                                                &:nth-child(n +  10):hover
                                                {
                                                    $background: rgba( 79, 166, 255, 0.08);

                                                    background: linear-gradient(90deg, transparent 0%, rgba( 79, 166, 255, 1) 200%);

                                                    outline:    1px solid $background;

                                                    img:hover { outline: 1.5px solid $background; }
                                                }

                                                &:nth-child(n +  18):hover
                                                {
                                                    $background: rgba(179, 103, 255, 0.08);

                                                    background: linear-gradient(90deg, transparent 0%, rgba(179, 103, 255, 1) 200%);

                                                    outline:    1px solid $background;

                                                    img:hover { outline: 1.5px solid $background; }
                                                }

                                                img { @extend .dev-icons; }

                                                span
                                                {
                                                    color:          black;
                                                    display:        inline-block;
                                                    width:          170px;
                                                    position:       relative;
                                                    top:            2px;
                                                    left:           0px;

                                                    font-size:      18px;
                                                    font-family:    'Roboto';
                                                    text-align:     end;
                                                    letter-spacing: 0.75px;

                                                    transition:     opacity 1s, left 0.25s ease;

                                                    opacity:        0;

                                                    text-shadow: -1px -1px 1px rgba(255, 255, 255, .25), -1px 1px 1px rgba(255, 255, 255, .25), 1px 1px 1px rgba(255, 255, 255, .25), 1px -1px 1px rgba(255, 255, 255, .25);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.extra
                        {
                            display:            table-cell;
                            min-height:         31.5vh;
                            max-height:         100%;
                            vertical-align:     middle;

                            outline:            3px ridge white;
                            background-color:   rgba(68, 80, 93, .4);

                            opacity:            0.5;

                            transition:         opacity 1s;

                            &:hover
                            {
                                cursor:     pointer;
                                opacity:    1;
                            }

                            .plus
                            {
                                display:            block;

                                font-size:          60px;
                                text-align:         center;
                                padding-bottom:     20px;
                            }

                            @extend .mq-card-extra-scaling;
                        }
                    }
                }
            }
        }
    }

    .modal
    {
        $modalBackground:      rgba(6, 49, 92, 0.9);
        $modalBackgroundLight: rgba(31, 103, 171, 0.9);

        .modal-dialog
        {
            max-width: 700px;

            .modal-content
            {
                width: 700px;

                background-color:   $modalBackground;
                border:             1px solid rgba(17, 38, 120, 1) !important;
                box-shadow:         0px 2px 3px rgba(0, 0, 0, 1) !important;

                .modal-header
                {
                    border-bottom-color: $borderColor;

                    .modal-title
                    {
                        font-family: 'CascadiaCode';
                        color:        white;
                    }

                    .btn-close
                    {
                        background: transparent url('../images/svg/General/x-lg-white.svg');

                        &:hover { background: transparent url('../images/svg/General/x-lg-cyan.svg'); }
                    }
                }

                .modal-body
                {
                    pre
                    {
                        margin:         0;
                        border-radius:  3px;
                    }
                }

                .modal-footer
                {
                    display:            block;
                    box-sizing:         border-box;

                    border-top-color:   $borderColor;


                    @extend .vector-module;


                    .wrapper-left
                    {
                        position:       relative;
                        top:            -10px;

                        display:        inline-block;

                        width:          49%;

                        padding-left:   5px;
                    }

                    .wrapper-right
                    {
                        display:    inline-block;

                        width:      48%;

                        .right { float: right; }
                    }

                    .btn-primary
                    {
                        background-color:   transparent;
                        border-color:       rgba(255, 255, 255, 1);

                        transition:         background-color 0.5s ease, border-color 0.5s ease;

                        img
                        {
                            position:       relative;

                            top:            -1px;
                            padding-right:  2px;
                        }

                        &:hover
                        {
                            background-color:   rgb(10, 88, 204);
                            border-color:       transparent;
                        }

                        &:focus { box-shadow: none; }
                    }
                }

                #copiedAlert
                {
                    .alert
                    {
                        margin-left: 14px;
                        margin-right: 14px;

                        img
                        {
                            position:       relative;

                            top:            -2px;
                            padding-right:  6px;
                        }
                    }
                }
            }
        }
    }

    .offcanvas
    {
        width: 45%;

        @media ( max-width: 1200px )
        {
            width: 95%;
        }

        .offcanvas-body
        {
            h2, h3, h4
            {
                padding-bottom: 8px;

                & + p
                {
                    font-family:        'CascadiaCode';
                    background:         linear-gradient(90deg, rgba(210,234,255,1) 0%, rgba(255,255,255,1) 50%);
                    padding:            7px 7px 7px 9px;
                    margin-bottom:      13px;
                    border-radius:      3px;
                }
            }

            h3, h4
            {
                background:     linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 75%);

                margin-top:     42px;
                padding-top:    26px;
                padding-left:   16px;

                border-top:     1px solid rgb(229, 229, 229);

                border-radius:  0px 10px 0px 0px;

                &::before
                {
                    content:        url('../images/svg/General/caret-right.svg');

                    position:       relative;
                    top:            3px;
                    padding-right:  3px;
                }

                & + p
                {
                    margin-left: 45px;

                    & + table
                    {
                        margin-left: 45px;
                    }

                    & + p
                    {
                        margin-left: 45px;

                        & + table
                        {
                            margin-left: 45px;
                        }
                    }
                }
            }

            p
            {
                margin-bottom: 6px;

                strong:nth-child(1)::before                 // Kind
                {
                    display:        inline-block;

                    content:        url('../images/svg/General/puzzle.svg');

                    transform:      rotate(315deg);

                    padding-right:  3px;
                }

                strong:nth-child(4)::before                 // Return
                {
                    display:        inline-block;
                    position:       relative;
                    top:            3px;

                    content:        url('../images/svg/General/return-left.svg');

                    padding-right:  3px;
                }

                &:nth-child(4)
                {
                    strong:nth-child(3)
                    {
                        display:        block;
                        padding-top:    10px;
                    }
                }
            }

            ul
            {
                list-style-type:    none;
                padding-left:       2px;
                margin-bottom:      0;

                li
                {
                    a
                    {
                        text-decoration: none;

                        &::before                           // Object
                        {
                            position:       relative;
                            display:        inline-block;
                            top:            2px;
                            padding-right:  4px;

                            content:        url('../images/svg/General/book-half.svg');
                        }
                    }

                    ul
                    {
                        padding-left: 18px;

                        li:nth-child(n - 1) > a::before     // Function
                        {
                            content: url('../images/svg/General/bookmark-plus.svg');
                        }
                    }
                }
            }

            table
            {
                outline:        1px solid black;
                margin-bottom:  12px;

                thead
                {
                    background-color: rgb(177, 219, 255);

                    th
                    {
                        border-right:  1px solid black;
                        border-bottom: 1px solid black;

                        &:last-of-type
                        {
                            border-right: none;
                        }
                    }
                }

                tbody
                {
                    tr
                    {
                        &:nth-child(odd)  { background-color: rgb(235, 235, 235); }

                        &:nth-child(even) { background-color: rgb(255, 255, 255); }
                    }

                    td
                    {
                        border-right: 1px solid rgb(187, 187, 187);

                        &:last-of-type
                        {
                            border-right: none;
                        }
                    }
                }

                th, td
                {
                    border-collapse: separate;
                    border-spacing:  8px;

                    padding: 5px 10px;
                }
            }
        }

        #offcanvas-reset
        {
            position:       fixed;
            right:          30px;
            padding:        15px 10px;
            border-top:     none;

            transition:     opacity 1s;

            opacity:        0;

            &:hover { cursor: pointer; }
        }
    }

    .lab-station
    {
        display:    none;

        width:      100%;
        height:     100vh;

        .container
        {
            padding:    0;
            margin:     0;

            max-width:  2000px;

            .col
            {
                padding-left:   0;
                padding-right:  0;
                height:         100vh;
            }
        }

        #lab
        {
            background-color: rgb(29, 31, 33);

            margin-left:  0;
            margin-right: 0;

            #ruler
            {
                position:   absolute;

                height:     100vh;

                opacity:    0;

                transition: opacity 1s ease;

                .dimensions
                {
                    font-family:        'Roboto';

                    position:           relative;
                    float:              right;
                    z-index:            30;

                    margin:             15px;
                    padding:            5px 10px;

                    border:             1px solid rgb(191, 219, 248);
                    border-radius:      2px;
                    outline:            3px solid white;

                    background-color:   rgb(223, 231, 255);
                }

                .horizontal
                {
                    position:       relative;
                    top:            22px;

                    width:          100%;
                    height:         1px;

                    margin-top:     10px;

                    border-bottom:  1px solid rgb(115, 240, 255);
                }

                .vertical
                {
                    position:       relative;
                    float:          right;
                    top:            -10px;
                    right:          -91px;

                    width:          1px;
                    height:         99vh;

                    border-right:   1px solid rgb(115, 240, 255);
                }
            }

            canvas { background: white; }

            #editor
            {
                margin-left:    -10px;
                height:         90%;
            }

            #control-panel
            {
                $background:        rgb(72, 79, 86);

                display:            block;
                width:              100%;
                height:             55px;                   // @note: don't change, value used by UI js

                position:           relative;
                padding-left:       1px;
                z-index:            50;

                font-family:        'Gafata';
                text-transform:     uppercase;

                background-color:   rgb(38, 40, 44);

                .container
                {
                    font-size:      14px;

                    display:        flex;
                    flex-wrap:      nowrap;

                    background:     $background;

                    &.data    { margin-bottom: 3px; }

                    &.execute { border-radius: 3px; }
                }

                .control
                {
                    color:          white;
                    text-shadow:    0px 0px 1px black;
                    outline:        1px solid black;
                    opacity:        0.85;

                    margin:         0 auto;
                    padding-top:    2px;

                    flex-grow:      1;

                    &:first-child { border-radius: 3px 0 0 3px; }

                    &:last-child  { border-radius: 0 3px 3px 0; }

                    &.button
                    {
                        padding:        0;
                        text-align:     center;
                    }

                    .name
                    {
                        padding:        0px 6px;
                        border-right:   1px solid gray;
                    }

                    .value
                    {
                        display:     inline-block;
                        min-width:   22px;
                        margin-left: 1px;
                    }

                    &.disabled
                    {
                        cursor:             default;
                        background-color:   gray;

                        &:hover { background-color: gray; }
                    }
                }

                .button
                {
                    cursor:     pointer;

                    box-shadow: inset 0px 0px 2px 0px rgb(0, 37, 60);


                    &:hover  { background-color: rgb(26, 107, 152); }

                    &:active { background-color: rgb(26, 150, 152); }


                    .icon { padding-top: 4px; }


                    .menu         { content: url('../images/svg/General/caret-up.svg');       }

                    .sidebar      { content: url('../images/svg/General/layout-sidebar.svg'); }

                    .full-screen  { content: url('../images/svg/General/aspect-ratio.svg');   }

                    .color-picker { content: url('../images/svg/General/droplet-half.svg');   }

                    .value-plus   { content: url('../images/svg/General/plus.svg');           }

                    .value-minus  { content: url('../images/svg/General/minus.svg');          }

                    .font-plus    { content: url('../images/svg/General/font-plus.svg');      }

                    .font-minus   { content: url('../images/svg/General/font-minus.svg');     }

                    .word-wrap    { content: url('../images/svg/General/word-wrap.svg');      }

                    .lock         { content: url('../images/svg/General/unlock.svg');         }

                    .download     { content: url('../images/svg/General/download.svg');       }
                }

                .picker_wrapper
                {
                    bottom: 50px !important;


                    &.popup.popup_top .picker_arrow
                    {
                        left:  unset;
                        right: 0px;
                    }

                    .picker_arrow
                    {
                        transform: rotate(90deg) rotateY(180deg);
                    }

                    .picker_hue
                    {
                        height: 20px;

                        margin: 5px 5px 0 5px;

                        .picker_selector
                        {
                            width:  20px;
                            height: 20px;

                            top:    10px;
                        }
                    }

                    .picker_sl
                    {
                        width:  94.5%;
                        height: 140px;

                        margin: 7px 0 5px 5px;

                        float:  left;

                        .picker_selector
                        {
                            width:  20px;
                            height: 20px;
                        }
                    }

                    .picker_alpha
                    {
                        display: none;

                        width:  10%;
                        height: 140px;

                        margin: 7px 5px 5px 0;

                        float:  right;

                        .picker_selector
                        {
                            width:  20px;
                            height: 20px;

                            left:   10px;
                        }
                    }

                    .picker_editor
                    {
                        input
                        {
                            margin: 0 5px 0 5px;
                        }
                    }

                    .picker_sample
                    {
                        width:  72%;
                        height: 30px;

                        margin: 5px 0 5px 5px;

                        float:  left;
                    }

                    button
                    {
                        width:  20%;
                        height: 30px;

                        margin: 5px 5px 5px 0;

                        float:  right;
                    }
                }

                #execute
                {
                    content:        url('../images/svg/General/play.svg');

                    display:        flex;
                    width:          100%;
                    height:         26px;
                    margin:         0 auto;
                    padding:        2px;

                    background:     $background;
                    border:         1px solid black;
                    border-radius:  3px;
                    opacity:        0.8;

                    &:hover  { background-color: rgb(26, 107, 152); }

                    &:active { background-color: rgb(26, 150, 152); }
                }
            }
        }
    }

    #byrne-systems-logo
    {
        width: 100%;

        img
        {
            display:    block;
            margin:     0 auto;

            animation:  pulse 2s infinite;

            &:hover { animation: expand 2s ease 0s infinite normal none; }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
////    ANCILLARY ITEMS    /////////////////////////////////////////////////////

////    [ DEVELOPMENT ICONS ]    ///////////////////////////

.dev-icons
{
    $size:              32px;

    width:              $size;
    height:             $size;
    padding:            2.75px;

    background-color:   black;
    border:             1px solid rgb(60, 106, 127);
    border-radius:      3px;
    box-shadow:         0px 1px 2.5px 0px black;

    transition:         background-color 1s;

    &:hover
    {
        background-color: rgb(17, 98, 95);

        cursor:           pointer;
    }
}

////    [ SCROLL BAR ]    //////////////////////////////////

$scrollbar-color-foreground: white;
$scrollbar-color-background: rgba(0,  31,  61, 0.36);

.styled-scrollbars { scrollbar-color: $scrollbar-color-foreground, $scrollbar-color-background; }   // Foreground, Background

.styled-scrollbars::-webkit-scrollbar
{
    width:  5px;
    height: 10px;
}

.styled-scrollbars::-webkit-scrollbar-thumb
{
    background:     $scrollbar-color-foreground;
    border-radius:  5px;
    outline:        1px solid rgba(0, 0, 0, 0.5);
}

.styled-scrollbars::-webkit-scrollbar-track
{
    background:     $scrollbar-color-background;
    border-radius:  10px;
}

////    [ MODAL BACKDROP ]    //////////////////////////////

.modal-backdrop
{
    z-index: 999 !important;
}

////    [ VECTOR ICONS ]    ////////////////////////////////

.vector-module
{
    $color-default:     rgb(200, 200, 200);
    $color-primary:     rgb(  7, 185, 237);
    $color-secondary:   rgb(237, 139,   7);

    background-color:   unset;
    border:             unset;
    outline:            unset;
    box-shadow:         unset;
    opacity:            1;

    .extra-icon
    {
        $timing:        0.35s;

        display:        flex;
        height:         31px;

        fill:           $color-default;
        opacity:        0.5;
        transform:      scale(1);

        transition:     transform $timing ease, fill $timing ease, opacity $timing ease;

        &:hover
        {
            fill:       white;
            opacity:    1;
            transform:  scale(1.2);
        }

        &:active
        {
            fill:       $color-primary;
            opacity:    1;
        }

        &.selected
        {
            fill:       $color-primary;
            opacity:    0.75;
        }

        &.disabled
        {
            cursor:     default;

            &:hover
            {
                fill:       $color-default;
                transform:  scale(1);
                opacity:    0.5;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
////    [ SCALING ]    /////////////////////////////////////////////////////////

////    [ TEST-CARD ]    ///////////////////////////////////

.mq-test-card-scaling
{
    @media (min-width: 1500px) { width: 102%; }

    @media (min-width: 1530px) { width: 104%; }

    @media (min-width: 1560px) { width: 106%; }

    @media (min-width: 1590px) { width: 108%; }

    @media (min-width: 1620px) { width: 110%; }

    @media (min-width: 1650px) { width: 112%; }

    @media (min-width: 1680px) { width: 114%; }

    @media (min-width: 1710px) { width: 116%; }

    @media (min-width: 1740px) { width: 118%; }

    @media (min-width: 1770px) { width: 120%; }

    @media (min-width: 1800px) { width: 122%; }

    @media (min-width: 1830px) { width: 124%; }

    @media (min-width: 1860px) { width: 128%; }

    @media (min-width: 1890px) { width: 130%; }
}

////    [ TEST-CARD COLUMN ]    ////////////////////////////

.mq-test-card-column-scaling
{
    // Mobile ( Landscape )

    @media (max-width: 2424px) { width: 14.2857142857% !important; }            // COL 7

    @media (max-width: 2100px) { width: 16.6666666666% !important; }            // COL 6

    @media (max-width: 1800px) { width: 20%            !important; }            // COL 5

    @media (max-width: 1500px) { width: 25%            !important; }            // COL 4

    @media (max-width: 1200px) { width: 33.3333333333% !important; }            // COL 3

    @media (max-width:  800px) { width: 50%            !important; }            // COL 2

    @media (max-width:  600px) { width: 100%           !important; }            // COL 1

    // Mobile ( Portrait )

    @media (max-width:  520px) { width: 98%            !important; }

    @media (max-width:  510px) { width: 95%            !important; }

    @media (max-width:  500px) { width: 92%            !important; }

    @media (max-width:  490px) { width: 89%            !important; }

    @media (max-width:  480px) { width: 86%            !important; }

    @media (max-width:  470px) { width: 83%            !important; }

    @media (max-width:  460px) { width: 80%            !important; }

    @media (max-width:  450px) { width: 77%            !important; }

    @media (max-width:  440px) { width: 74%            !important; }

    @media (max-width:  430px) { width: 71%            !important; }

    @media (max-width:  420px) { width: 68%            !important; }

    @media (max-width:  410px) { width: 65%            !important; }

    @media (max-width:  400px) { width: 62%            !important; }
}

////    [ CARD BLANK ]    //////////////////////////////////

.mq-card-extra-scaling
{
    @media (max-width: 2100px) { width: 23vw;   }

    @media (max-width: 2000px) { width: 22.5vw; }

    @media (max-width: 1900px) { width: 22vw;   }

    @media (max-width: 1800px) { width: 21.5vw; }

    @media (max-width: 1700px) { width: 21vw;   }

    @media (max-width: 1600px) { width: 20.5vw; }

    @media (max-width: 1500px) { width: 20vw;   }

    @media (max-width: 1400px) { width: 19.5vw; }

    @media (max-width: 1300px) { width: 19vw;   }

    @media (max-width: 1200px) { width: 18.5vw; }

    @media (max-width: 1100px) { width: 18vw;   }

    @media (max-width: 1000px) { width: 17.5vw; }

    @media (max-width:  900px) { width: 17vw;   }

    @media (max-width:  800px) { width: 16.5vw; }

    @media (max-width:  700px) { width: 16vw;   }
}

////////////////////////////////////////////////////////////////////////////////
////    [ KEY-FRAMES ]    //////////////////////////////////////////////////////

@keyframes fadeIn
{
   0%   { opacity: 0;  }

   100% { opacity: 1;  }
}

@keyframes fadeInOut
{
   0%   { opacity: 0;  }

   50%  { opacity: 0.5;}

   100% { opacity: 0;  }
}

@keyframes fadeOut
{
   0%   { opacity: 1;  }

   100% { opacity: 0;  }
}

@keyframes fadeOutIn
{
   0%   { opacity: 1;  }

   50%  { opacity: 0.5;}

   100% { opacity: 1;  }
}

@keyframes fadeInOut-delay
{
   0%   { opacity: 0;  }

   25%  { opacity: 0.5;}

   50%  { opacity: 0;  }

   100% { opacity: 0;  }
}

@keyframes wiggle
{
   0%, 7%    { transform: rotateZ(0);      }

   15%       { transform: rotateZ(-15deg); }

   20%       { transform: rotateZ(10deg);  }

   25%       { transform: rotateZ(-10deg); }

   30%       { transform: rotateZ(6deg);   }

   35%       { transform: rotateZ(-4deg);  }

   40%, 100% { transform: rotateZ(0);      }
}

@keyframes pulseBackground
{
    0%   { background-color: rgba(0, 255, 205, 1  ); }

    100% { background-color: rgba(0, 255, 205, 0.6); }
}

@keyframes growIn
{
    0%   { transform: scale( 0.90 ); }

    100% { transform: scale( 1 );    }
}

@keyframes growOut
{
    0%   { transform: scale( 1 );    }

    100% { transform: scale( 1.10 ); }
}

@keyframes growOutIn
{
    0%   { transform: scale( 1 );    }

    50%  { transform: scale( 1.5 );  }

    100% { transform: scale( 1 );    }
}

@keyframes growOutIn
{
    0%   { transform: scale( 1 );    }

    50%  { transform: scale( 1.10 ); }

    100% { transform: scale( 1 );    }
}

@keyframes expand
{
    0%   { transform: scale(1); opacity: 0.8; }

    80%  { transform: scale(2); opacity: 0;   }

    100% { transform: scale(3); opacity: 0;   }
}

@keyframes pulse
{
    0%   { opacity: 0.4; }

    50%  { opacity: 0.6; }

    100% { opacity: 0.4; }
}
